<div class="container-fluid p-0 bg-white">
    <div class="bgimg1 mb-5">
        <div class="container dropping-text">
            <h1 class="m-0 fw-bold">How can we help you today? <br>
                Come, Visit Us !</h1>
            <p class="pt-3 m-0 fw-medium">Looking forward to meeting you on campus.</p>
        </div>
    </div>
    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-6 col-xl-6 col-xxl-6 col-sm-12 col-md-6">
                <div class="left">
                    <div class="mb-3">
                        <h4 class="m-0 fw-bold mb-3">Our Locations</h4>
                        <p class="m-0 fw-medium">We started in Hyderabad in 2012 and now we work on two city's. Visit us
                            at one of our institute</p>
                    </div>
                    <div class="mb-3">
                        <h4 class="m-0 fw-bold mb-3">Bengaluru Center</h4>
                        <p class="m-0 fw-medium">1st floor, RMZ Latitude Commercial <br> Building Bellary Rd, Hebbal,
                            Bengaluru <br> Karnataka 560024 India <br> <span
                                class="d-flex align-items-center gap-2"><img width="15" height="15"
                                    alt="Star design Contact Us image" src="/assets/Contact US/call icon.svg" alt="">
                                080 49526900</span></p>
                        <span class="link mb-5" (click)="openGoogleMapsDirection('Bengaluru')">
                            Get Google Map Direction
                            <img alt="Star design Contact Us image" src="/assets/Contact US/location icon.svg">
                        </span>
                    </div>

                    <div class="mb-3">
                        <h4 class="m-0 fw-bold mb-4">Hyderabad Center</h4>
                        <div class="hyd-locations mb-5">
                            <p class="m-0 fw-medium">
                                <b>Ameerpet,</b> Shashi Nilayam <br> Aster Prime Hospital Lane, Ameerpet <br>
                                Hyderabad, Telangana 500016 India <br><span class="d-flex align-items-center gap-2"><img
                                        width="15" height="15" alt="Star design Contact Us image"
                                        src="/assets/Contact US/call icon.svg" alt=""> 040 49526011</span>
                            </p>
                            <span class="link mb-5" (click)="openGoogleMapsDirection('Ameerpet')">
                                Get Google Map Direction
                                <img alt="Star design Contact Us image" src="/assets/Contact US/location icon.svg">
                            </span>
                        </div>

                        <div class="hyd-locations mb-5">
                            <p class="m-0 fw-medium">
                                <b>Himayat Nagar,</b> 2nd Floor, Om Towers, <br> Opposite McDonald’s, Himayatnagar Main
                                Road <br>
                                Hyderabad-500029 India <br> <span class="d-flex align-items-center gap-2"><img
                                        width="15" height="15" alt="Star design Contact Us image"
                                        src="/assets/Contact US/call icon.svg" alt=""> 040 49526900</span>
                            </p>
                            <span class="link mb-5" (click)="openGoogleMapsDirection('Himayat Nagar')">
                                Get Google Map Direction
                                <img alt="Star design Contact Us image" src="/assets/Contact US/location icon.svg">
                            </span>
                        </div>
                        <div class="hyd-locations mb-5">
                            <p class="m-0 fw-medium">
                                <b>Hitech City,</b> 401, Jai Hind Enclave, HITEC City, <br> Hitech City Rd, Above
                                Domino's,
                                Opposite <br> Cyber Towers, Hyderabad, Telangana - 500081 <br>
                                <span class="d-flex align-items-center gap-2"><img width="15" height="15"
                                        alt="Star design Contact Us image" src="/assets/Contact US/call icon.svg"
                                        alt=""> +91-9542881100</span>
                            </p>
                            <span class="link mb-5" (click)="openGoogleMapsDirection('Hitech')">Get Google Map
                                Direction
                                <img alt="Star design Contact Us image" src="/assets/Contact US/location icon.svg">
                            </span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h6 class="m-0 fw-bold mb-1">General Inquiries</h6>
                        <p class="m-0 link fw-medium">info@stardi.in</p>
                    </div>
                    <div class="mb-3">
                        <h6 class="m-0 fw-bold mb-1">Careers & Internships</h6>
                        <p class="m-0 fw-medium link">talent@stardi.in</p>
                    </div>
                    <div class="mb-3">
                        <h6 class="m-0 fw-bold mb-2">Connect with Us</h6>
                        <div class="icons">
                            <img alt="Star design Contact Us image" src="/assets/Contact US/X.svg">
                            <img alt="Star design Contact Us image" src="/assets/Contact US/Facebook.svg">
                            <img alt="Star design Contact Us image" src="/assets/Contact US/LinkedIn.svg">
                            <img alt="Star design Contact Us image" src="/assets/Contact US/Instagram.svg">
                            <img alt="Star design Contact Us image" src="/assets/Contact US/youtube.svg">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-xxl-6 col-sm-12 col-md-6">
                <div class="right">
                    <div class="card contact-card mb-4">
                        <div class="card-body">
                            <p class="m-0 mb-3 fw-bold">Talk to a counselor; just call us at:</p>
                            <p class="m-0 mb-3 fw-bold d-flex align-items-center gap-2"><i class="ri-phone-line"></i>
                                +91(40) 35592277 - 9985280011</p>
                            <span class="m-0 mb-3 fw-medium">Monday - Saturday from 07:00am to 09:30pm</span>
                        </div>
                    </div>
                    <div class="card form-card">
                        <div class="card-body">
                            <form noValidate="false">
                                <p class="m-0 mb-4 fw-bold">Or send us your questions</p>
                                <label class="form-label" for="name">Your name <span>*</span></label>
                                <input autocomplete="name" id="name" type="text" class="form-control shadow-none mb-3">
                                <p class="m-0 mb-3 fw-bold">How may we contact you? <span>*</span></p>
                                <div class="checks mb-3 d-flex align-items-center gap-3">
                                    <div class="form-check">
                                        <input class="form-check-input shadow-none" type="radio"
                                            name="communicationMethod" id="whatsapp" [(ngModel)]="selectedMethod"
                                            value="whatsapp" (change)="updatePlaceholder()">
                                        <label class="form-check-label" for="whatsapp">WhatsApp</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input shadow-none" type="radio"
                                            name="communicationMethod" id="phonecall" [(ngModel)]="selectedMethod"
                                            value="phonecall" (change)="updatePlaceholder()">
                                        <label class="form-check-label" for="phonecall">Phone call</label>
                                    </div>
                                    <div class="form-check">
                                        <input autocomplete="name" class="form-check-input shadow-none" type="radio"
                                            name="communicationMethod" id="email" [(ngModel)]="selectedMethod"
                                            value="email" (change)="updatePlaceholder()">
                                        <label class="form-check-label" for="email">E-mail</label>
                                    </div>
                                </div>

                                <label class="form-label" for="Email">Your {{ placeholderText }} <span>*</span></label>
                                <input autocomplete="email" id="Email" type="text"
                                    class="form-control shadow-none mb-3">



                                <label class="form-label" for="floatingTextarea">Message <span>*</span></label>
                                <textarea rows="5" class="form-control mb-3 shadow-none"
                                    placeholder="Leave a Message here" id="floatingTextarea"></textarea>
                                <div class="form-check mb-4">
                                    <input class="form-check-input shadow-none" type="checkbox" value=""
                                        id="flexCheckIndeterminate">
                                    <label class="form-check-label" for="flexCheckIndeterminate">
                                        I Accept The Terms & Conditions And I Understand That My Data Will Be Hold
                                        Securely In Accordance With The Privacy Policy.
                                    </label>
                                </div>
                                <button type="button" class="btn send-btn">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>