.container-fluid {
  background-color: #f5f5f9;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.card {
  border-radius: 10px;
  max-width: 360px;
  width: 360px;
  box-shadow: 1px 1px 5px rgb(206, 203, 203);
  .card-title {
    font-size: 20px;
  }
  .card-text {
    font-size: 13px;
  }
  .form-label {
    font-size: 12px;
  }
  .form-control {
    box-shadow: none;
  }
  .form-control:is(:focus, :focus-within) {
    border-color: rgb(120, 123, 255);
  }
  input[type="password"]::placeholder {
    position: relative;
    // bottom: 5px;
  }
  input[type="password"] {
    border-right: none;
  }

  input[type="password"]:focus-within + * {
    border-color: rgb(120, 123, 255) !important;
  }
  .input-group-text {
    background-color: transparent;
    border-left: none;
    cursor: pointer;
  }

  .forgot {
    font-size: 12.75px;
    color: rgb(120, 123, 255);
    font-weight: 500;
    cursor: pointer;
  }
  .login {
    background: rgb(120, 123, 255);
    color: white;
    font-size: 15px;
    width: 100%;
    font-weight: 500;
  }
  .login:hover {
    transform: translateY(-3px);
    background: rgb(95, 97, 235);
  }

  //   input[type="checkbox"]:checked {
  //     -webkit-appearance: none;
  //     color: rgb(120, 123, 255);
  //   }
}
