<div class="container-fluid about">
    <div class="container-fluid about-hero mb-5">
        <div class="layered-section"></div>
        <div class="position-absolute dropping-text">
            <h1 class="fw-bold m-0">
                Design <br> Research <br> Deep Dive
            </h1>
            <p class="m-0 fw-medium mb-5"> 12<sup>+</sup> Years of Excellence</p>
        </div>
    </div>
    <div class="container about-star mb-5">
        <h2 class="fw-bold m-0 mb-4 display-5">About Star</h2>
        <p class="m-0 star-text mb-3 fs-5 mt-5">Star Design Institute is a renowned and prestigious independent
            institute in
            India
            that
            was founded in the year 2012. With a vision to provide world-class education in the field of design, the
            institute has established itself as one of the largest and most trusted institutions in the country.The
            institute offers a wide range of courses in various fields of design, including graphic design, fashion
            design, interior design, and product design, among others.The courses are designed to provide students with
            a comprehensive understanding of the subject matter, along with practical training and hands-on experience.
        </p>
        <p class="m-0 star-text mb-3 fs-5">
            At Star Design Institute, the faculty is composed of experienced professionals and experts in their
            respective fields, who are committed to providing students with the best possible education and support. The
            institute boasts state-of-the-art facilities, including modern classrooms, design studios, and workshops,
            where students can hone their skills and creativity.
        </p>
        <p class="m-0 star-text mb-3 fs-5">Over the years, the institute has produced numerous successful and talented
            designers who have made a mark in their respective fields. The institute's focus on providing a holistic
            education, along with its commitment to excellence, has earned it a reputation as one of the leading design
            institutes in India.</p>
        <p class="m-0 star-text mb-3 fs-5">In conclusion, Star Design Institute is a highly esteemed and well-respected
            institute in India, known for its exceptional education and commitment to excellence in the field of design.
            Its contribution to the design industry in the country is unparalleled, and it continues to be a driving
            force for innovation and creativity.</p>
    </div>

    <div class="container about-vision mb-5 pt-5">
        <div class="row">
            <div class="col-lg-6 col-xxl-6 col-xl-6 col-md-6 col-sm-12">
                <h2 class="fw-bold m-0 mb-4 display-5">Our vision</h2>
                <p class="m-0 star-text fs-5 mb-3 ">
                    At our design institute, we believe that the future of design lies in the hands of today's design
                    aspirants and professionals. Our vision is to provide them with the best possible education
                    experience that prepares them to become the leaders of tomorrow.We believe in empowering our
                    students by providing them with a comprehensive education that focuses on practical skills,
                    creativity, and innovation. Our mission is to instill in them a passion for design and equip them
                    with the skills and knowledge necessary to thrive in their careers.
                </p>
            </div>
            <div class="col-lg-6 col-xxl-6 col-xl-6 col-md-6 col-sm-12">
                <img class="img-fluid" src="/assets/About us/Our vision . star design institute.png" alt="">
            </div>
        </div>
    </div>

    <div class="container about-mission mb-5 pt-5">
        <div class="row">
            <div class="col-lg-6 col-xxl-6 col-xl-6 col-md-6 col-sm-12">
                <h2 class="fw-bold display-5 m-0 mb-4">Our Mission</h2>
                <p class="m-0 star-text mb-3 fs-5">
                    our mission is to empower and inspire creatives to reach their full potential. We believe that
                    everyone has the ability to be creative, and our goal is to provide the tools, knowledge, and
                    support needed to unlock that potential. We believe that design education should be accessible to
                    everyone, and our mission is to provide high-quality education that is affordable and flexible. We
                    understand that our students have diverse backgrounds and learning styles, and we're committed to
                    providing a learning environment that is inclusive and supportive.
                </p>
            </div>
            <div class="col-lg-6 col-xxl-6 col-xl-6 col-md-6 col-sm-12">
                <img class="img-fluid" src="/assets/About us/Our Mission. . star design institute.png" alt="">
            </div>
        </div>
    </div>
    <div class="container about-learning mb-5 pt-5">
        <h2 class="fw-bold display-5 m-0 ">Our learning spaces</h2>
        <p class="fw-medium m-0 mb-5">
            Learn from India’s leading Practitioners.
        </p>
        <div class="learn-cards container-fluid">
            <div class="row">
                <div class=" p-0 px-1 text-center col-lg-4 col-sm-6 col-md-4 col-xxl-4 col-xl-4">
                    <img src="/assets/About us/Our learning spaces/temp (1).png" alt="">
                </div>
                <div class=" p-0 px-1 text-center col-lg-4 col-sm-6 col-md-4 col-xxl-4 col-xl-4">
                    <img src="/assets/About us/Our learning spaces/temp (6).png" alt="">

                </div>
                <div class=" p-0 px-1 text-center col-lg-4 col-sm-6 col-md-4 col-xxl-4 col-xl-4">
                    <img src="/assets/About us/Our learning spaces/temp (4).png" alt="">
                </div>
                <div class=" p-0 px-1 text-center col-lg-2 col-sm-5 col-md-2 col-xxl-2 col-xl-2 lady">
                    <img src="/assets/About us/Our learning spaces/temp (3).png" alt="">
                </div>
                <div class=" p-0 px-1 text-center col-lg-2 col-sm-5 col-md-2 col-xxl-2 col-xl-2">
                    <img src="/assets/About us/Our learning spaces/temp (5).png" alt="">

                </div>
                <div class=" p-0 px-1 text-center col-lg-4 col-sm-6 col-md-4 col-xxl-4 col-xl-4">
                    <img src="/assets/About us/Our learning spaces/temp (2).png" alt="">
                </div>
                <div class=" p-0 px-1 text-center col-lg-4 col-sm-6 col-md-4 col-xxl-4 col-xl-4">
                    <img src="/assets/About us/Our learning spaces/temp.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>