h4{
font-size: var(--seventeen);
color: var(--black);
}
p{
font-size: var(--ten);
color: var(--red);
}
label{
  font-size: var(--ten);
  color: var(--black);

}
.btn-verify{
  background-color: var(--grey);
  padding: 0px 20px;
  float: right;

}
