<div class="container-fluid ">
  <div class="row ">
    <div class="col-lg-7 col-xl-7 col-xxl-7 col-md-12 col-sm-12 mt-5">
      <img src="../../../assets/Hire from us/hire from.us star design institute.png" class="img-fluid">
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xl-4 col-xxl-4 mt-5">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h4 class="m-0 fw-bold mb-2 ">Connect with us !</h4>
            <p>* All fields are mandatory</p>
          </div>

          <form class="form">
            <div class="">
              <div class="form-row">
                <div class="form-col">
                  <label for="exampleInputEmail1">First Name</label>
                  <input type="text" class="form-control shadow-none mb-3" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="">

                </div>
              </div>
              <div class="form-row">
                <div class="form-col-md-6"> <label for="Last Name">Last Name</label><br>
                  <input type="text" placeholder="" class="form-control shadow-none mb-3">
                </div>
              </div>


            </div>
            <label for="organization">Organisation</label>
            <input type="text" placeholder="" class="form-control shadow-none mb-3">
            <label for="organization1">Your Desgination</label>
            <input type="text" placeholder="" class="form-control shadow-none mb-3">
            <label for="organization2">Work Email Address</label>
            <input type="text" placeholder="" class="form-control shadow-none mb-3">
            <label for="phone">Phone Number</label>
            <input type="number" placeholder="" class="form-control shadow-none mb-3">

<button class="btn  text-white btn-verify mb-5">Verify</button>
            <p class="terms mb-4 mt-5">
              <input class="mt-1" type="checkbox">
              I have read, and I agree to the Terms of Service and Privacy Policy <span
                class="text-primary text-decoration-underline">Privacy
                Policy</span>.
            </p>
            <button class="btn btn-primary text-white submit-btn w-100">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
