<div class="container-fluid p-0">
  <div class="bgcolor1">
    <div class="layered-section"></div>

    <div class="container h-100 ">
      <div class="row d-flex h-100 justify-content-center align-items-center">
        <div class="position-relative dropping-text h-100 d-flex align-items-center justify-content-start ">
          <div class="mainheader">
            <h1 class="m-0 mb-4 fw-bold">Make Your Next<br> Move In Tech
            </h1>
            <p class="fs-2 fw-medium">With 100 <span class="slash fw-medium">%</span>Placements <br>
              Guaranteed <span class="slash"><sup> *</sup></span>Program
            </p>
            <!-- <p class="fs-2 fw-medium">Take your career to the next level</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-white py-5">
    <div class="container work mt-0">
      <div class="content1 text-center">
        <h2 class="fw-bold display-5 mb-4 m-0">
          Our Alumni Work At
        </h2>
      </div>

      <div class="logos-div">
        <div class="card-img">
          <img alt="Star Design Placements Image" class="logos "
            src="/assets/Landing Page/where our students works/Amazon.star design institute.svg">
        </div>
        <div class="card-img">
          <img alt="Star Design Placements Image" class="logos "
            src="/assets/Placements/google.star design institute.svg">
        </div>

        <div class="card-img">
          <img alt="Star Design Placements Image" class="logos "
            src="/assets/Landing Page/where our students works/Cognizant.star design institute.svg">
        </div>

        <div class="card-img">
          <img alt="Star Design Placements Image" class="logos "
            src="/assets/Landing Page/where our students works/Facebook.star design institute.svg">
        </div>
        <div class="card-img">
          <img alt="Star Design Placements Image" class="logos"
            src="/assets/Landing Page/where our students works/Accenture.star design institute.svg">
        </div>
        <div class="card-img">
          <img alt="Star Design Placements Image" class="logos "
            src="/assets/Landing Page/where our students works/tcs.star design institute.svg">
        </div>
        <div class="card-img">
          <img alt="Star Design Placements Image" class="logos "
            src="/assets/Landing Page/where our students works/Indigo.star design institute.svg">
        </div>

        <div class="card-img">
          <img alt="Star Design Placements Image" class="logos "
            src="/assets/Landing Page/where our students works/qualcomm.star design institute.svg">
        </div>
        <div class="card-img">
          <img alt="Star Design Placements Image" class="logos"
            src="/assets/Landing Page/where our students works/EY.star design institute.svg">
        </div>
        <div class="card-img">
          <img alt="Star Design Placements Image" class="logos "
            src="/assets/Landing Page/where our students works/Flipkart.star design institute.svg">
        </div>

      </div>
    </div>
  </div>
  <div class="container  mt-4">
    <div class="bgimg1 ">
      <div>
        <h2 class="fw-bold display-5 text-center">How Does Our Placement Process Work?</h2>
        <p class="text-center">Join Our Job Ready Programs Today & Get Hired In 3 Easy Steps</p>
      </div>
      <!-- <div class="stepper">
        <div class="step-1 step">1</div>
        <div class="step-2 step">2</div>
        <div class="step-3 step">3</div>
      </div>
      <div class="row mt-5 p-3">
        <div class="col-lg-4 col-xxl-4 col-sm-6 col-md-12 mb-4">
          <div class="card h-100 cardhover ">
            <div>
              <img alt="Star Design Placements Image" class=" card-img-top"
                src="/assets/Placements/How does our placement process work/Learn and Upskill.star design institute.svg">
            </div>
            <div class="card-body cardtext1">
              <h2 class="text-center display-5 m-0">Learn and Upskill</h2>
              <p class="text-center m-0">Our Training Includes Fundamentals to Advanced Concepts so that you can Ace
                your Technical Interviews with utmost Confidence</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xxl-4 col-sm-6 col-md-12 mb-4">
          <div class="card h-100 cardhover ">
            <div>
              <img alt="Star Design Placements Image" class=" card-img-top"
                src="/assets/Placements/How does our placement process work/Get an Internship.star design institute.svg">
            </div>
            <div class="card-body cardtext1">
              <h2 class="text-center display-5 m-0 m-0">Get an Internship</h2>
              <p class="text-center m-0">We offer Internship with our Partner Companies to work in Real time projects so
                that we can apply the skill you learnt in training in the job</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xxl-4 col-sm-6 col-md-12 mb-4">
          <div class="card h-100 cardhover">
            <div>
              <img alt="Star Design Placements Image" class=" card-img-top"
                src="/assets/Placements/How does our placement process work/Get hired.star design institute.svg">
            </div>
            <div class="card-body cardtext1">
              <h2 class="text-center display-5 m-0 m-0"> Get hired</h2>
              <p class="text-center m-0">After Successfully Completing Training and Internship, Interviews will be
                scheduled with Various Companies to get you a Job.</p>
            </div>
          </div>
        </div>
      </div> -->
      <div class="stepper d-flex align-items-center ">
        <!-- <div class="step-div">
          <div class="step-1 step">1</div>
          <div class="step-line"></div>
          <div class="step-2 step">2</div>
          <div class="step-line"></div>
          <div class="step-3 step">3</div>
        </div>
      </div> -->
        <div class="row mt-5 p-3">
          <!-- Step 1 -->
          <div class="col-lg-4 col-xxl-4 col-sm-6 col-md-12 mb-4">
            <div class="card h-100 cardhover p-xl-5 position-relative">
              <div>
                <img alt="Star Design Placements Image" class="card-img-top"
                  src="/assets/Placements/How does our placement process work/Learn and Upskill.star design institute.svg">
              </div>
              <div class="card-body p-0">
                <h2 class="fw-bold mb-3">Learn and Upskill</h2>
                <p class="text-start m-0">Our Training Includes Fundamentals to Advanced Concepts so that you can Ace
                  your Technical Interviews with utmost Confidence.</p>
              </div>
              <div class="circle">1</div>
            </div>
          </div>

          <!-- Step 2 -->
          <div class="col-lg-4 col-xxl-4 col-sm-6 col-md-12 mb-4">

            <div class="card position-relative h-100 cardhover p-xl-5">
              <div>
                <img alt="Star Design Placements Image" class="card-img-top"
                  src="/assets/Placements/How does our placement process work/Get an Internship.star design institute.svg">
              </div>
              <div class="card-body p-0">
                <h2 class="fw-bold mb-3">Get an Internship</h2>
                <p class="text-start m-0">We offer Internship with our Partner Companies to work in Real time projects
                  so
                  that we can apply the skill you learnt in training in the job.</p>
              </div>
              <div class="circle">2</div>

            </div>
          </div>

          <!-- Step 3 -->
          <div class="col-lg-4 col-xxl-4 col-sm-6 col-md-12 mb-4">

            <div class="card h-100 cardhover p-xl-5 position-relative">
              <div>
                <img alt="Star Design Placements Image" class="card-img-top"
                  src="/assets/Placements/How does our placement process work/Get hired.star design institute.svg">
              </div>
              <div class="card-body p-0">
                <h2 class="fw-bold mb-3"> Get hired</h2>
                <p class="text-start m-0">After Successfully Completing Training and Internship, Interviews will be
                  scheduled with Various Companies to get you a Job.</p>
              </div>
              <div class="circle">3</div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid pt-5 bg-white">
    <div class="container position-relative mt-0">
      <div class="text-center successtext">
        <h2 class="display-5 fw-bold">Success Stories From Our Stars</h2>
        <p>Meet the Star alumni who started their skill journey with us. Here's their experience and where they are
          today...
        </p>
      </div>
      <div class="arrows d-flex">
        <div class="d-flex align-items-center justify-content-between gap-2">
          <p class="mb-0" (click)="slide('left')" [style.pointer-events]="isLeftScrollable ? 'auto' : 'none'">
            <i class="ri-arrow-left-line "></i>
          </p>
          <p class="mb-0" (click)="slide('right')" [style.pointer-events]="isRightScrollable ? 'auto' : 'none'">
            <i class="ri-arrow-right-line"></i>
          </p>
          <!-- [ngClass]="{'bg-secondary':!isRightScrollable}" -->
          <!-- [ngClass]="{'bg-secondary':!isLeftScrollable,'text-white':!isLeftScrollable}" -->
        </div>
      </div>
      <!--Need to Modify card section-->
      <div class="cards mt-3" #cards (scroll)="updateScrollState()">
        <!-- <div class="card w-100">
          <div class="row">
            <div class="col-xxl-4 position-relative col-xl-4 col-lg-4 col-md-4 col-sm-12 p-0">
              <img alt="Star Design Placements Image" src="/assets/Placements/sheetal sharma/Sheetal Sharma.png"
                class=" img-fluid " />
              <img alt="Star Design Placements Image" class="play" src="/assets/Placements/sheetal sharma/play.svg">
            </div>
            <div
              class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12 p-0 curosalcard d-flex flex-column justify-content-around">
              <div>
                <div class="mt-3">
                  <img alt="Star Design Placements Image"
                    src="/assets/Placements/Success Stories From Our Stars/Group 76086.svg">
                </div>
                <div class="mt-3">
                  <p class="m-0 place-text"> “It was in the middle of the pandemic when I decided to take help from
                    Wonsulting
                    for my job
                    search. star design institute helped me with my resume and gave me guidance on Job Search
                    strategies.
                    All
                    I had to do was follow them and have patience. Not only that, the Wonsulting Team proved to be a
                    strong
                    pillar of support throughout my journey. Job search can wear you out, but with the right people
                    beside
                    you, it can turn into an enjoyable rollercoaster ride. Thank you Wonsulting for your help!”</p>
                </div>
              </div>
              <div class="d-flex justify-content-between flex-column flex-sm-row mt-5">
                <div>
                  <h2 class="display-5 fw-bold"><span class="name">Sheetal</span> Sharma</h2>
                  <p>UI/UX Designer</p>
                </div>
                <div>
                  <img alt="Star Design Placements Image"
                    src="/assets/Placements/Success Stories From Our Stars/Qualcomm.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card w-100">
          <div class="row">
            <div class="col-xxl-4 position-relative col-xl-4 col-lg-4 col-md-4 col-sm-12 p-0">
              <img alt="Star Design Placements Image"
                src="/assets/Placements/Success Stories From Our Stars/Sheetal Sharma.png" class=" img-fluid " />
              <img alt="Star Design Placements Image" class="play" src="/assets/Placements/sheetal sharma/play.svg">
            </div>
            <div
              class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12 p-0 curosalcard d-flex flex-column justify-content-around">
              <div>
                <div class="mt-3">
                  <img alt="Star Design Placements Image"
                    src="/assets/Placements/Success Stories From Our Stars/Group 76086.svg">
                </div>
                <div class="mt-3">
                  <p class="m-0 place-text"> “It was in the middle of the pandemic when I decided to take help from
                    Wonsulting
                    for my job
                    search. star design institute helped me with my resume and gave me guidance on Job Search
                    strategies.
                    All
                    I had to do was follow them and have patience. Not only that, the Wonsulting Team proved to be a
                    strong
                    pillar of support throughout my journey. Job search can wear you out, but with the right people
                    beside
                    you, it can turn into an enjoyable rollercoaster ride. Thank you Wonsulting for your help!”</p>
                </div>
              </div>
              <div class="d-flex justify-content-between flex-column flex-sm-row mt-5">
                <div>
                  <h2 class="display-5 fw-bold"><span class="name">Priya </span>Rao </h2>
                  <p>UI/UX Designer</p>
                </div>
                <div>
                  <img alt="Star Design Placements Image"
                    src="/assets/Placements/Success Stories From Our Stars/Qualcomm.svg" />
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="card h-100">
          <img class="card-img" src="../../../assets/Placements/sucess sstory/Sheetal Sharma.png"
            alt="Sheetal Sharma.png">
          <div class="card-img-overlay p-4">
            <h4 class="text-white fw-bold card-title">Sheetal Sharma</h4>
            <p class="text-white card-text mb-3">
              UI/UX Designer
            </p>
            <img src="../../../assets/Placements/sucess sstory/Qualcomm.svg" alt="Qualcomm.svg">
          </div>
        </div>
        <div class="card h-100">
          <img class="card-img" src="../../../assets/Placements/sucess sstory/Arvind kumar.png" alt="Arvind kumar.png">
          <div class="card-img-overlay p-4">
            <h4 class="text-white fw-bold card-title">Arvind kumar</h4>
            <p class="text-white card-text mb-3">
              UI/UX Designer
            </p>
            <img src="../../../assets/Placements/sucess sstory/Capgemini.svg" alt="Capgemini.svg">
          </div>
        </div>

        <div class="card h-100">
          <img class="card-img" src="../../../assets/Placements/sucess sstory/K.Pushpa.png" alt="K.Pushpa.png">
          <div class="card-img-overlay p-4">
            <h4 class="text-white fw-bold card-title">K.Pushpa</h4>
            <p class="text-white card-text mb-3">
              UI/UX Designer
            </p>
            <img src="../../../assets/Placements/sucess sstory/Accenture.svg" alt="Accenture.svg">
          </div>
        </div>
        <div class="card h-100">
          <img class="card-img" src="../../../assets/Placements/sucess sstory/P.Vasavi.png" alt="P.Vasavi.png">
          <div class="card-img-overlay p-4">
            <h4 class="text-white fw-bold card-title">P.Vasavi</h4>
            <p class="text-white card-text mb-3">
              UI/UX Designer
            </p>
            <img src="../../../assets/Placements/sucess sstory/tcs.svg" alt="tcs.svg">
          </div>
        </div>
        <div class="card h-100">
          <img class="card-img" src="../../../assets/Placements/sucess sstory/P.Vasavi copy.png" alt="P.Vasavi.png">
          <div class="card-img-overlay p-4">
            <h4 class="text-white fw-bold card-title">Srinivas</h4>
            <p class="text-white card-text mb-3">
              UI/UX Designer
            </p>
            <img src="../../../assets/Placements/sucess sstory/Freshworks-vector-logo.svg" alt="Freshworks.svg">
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid bg-white pt-5">
    <div class="container about-learning ">
      <h2 class="fw-bold text-center display-5 m-0 ">Course Glimpses</h2>
      <p class="fw-medium m-0 mb-5">
        Learn from India’s leading Practitioners.
      </p>
      <div class="learn-cards container-fluid">
        <div class="row">
          <div class=" p-0 px-1 text-center col-lg-4 col-sm-6 col-md-4 col-xxl-4 col-xl-4">
            <img alt="Star Design Placements Image" src="/assets/About us/Our learning spaces/temp (1).png">
          </div>
          <div class=" p-0 px-1 text-center col-lg-4 col-sm-6 col-md-4 col-xxl-4 col-xl-4">
            <img alt="Star Design Placements Image" src="/assets/About us/Our learning spaces/temp (6).png">

          </div>
          <div class=" p-0 px-1 text-center col-lg-4 col-sm-6 col-md-4 col-xxl-4 col-xl-4">
            <img alt="Star Design Placements Image" src="/assets/About us/Our learning spaces/temp (4).png">
          </div>
          <div class=" p-0 px-1 text-center col-lg-2 col-sm-5 col-md-2 col-xxl-2 col-xl-2 lady">
            <img alt="Star Design Placements Image" src="/assets/About us/Our learning spaces/temp (3).png">
          </div>
          <div class=" p-0 px-1 text-center col-lg-2 col-sm-5 col-md-2 col-xxl-2 col-xl-2">
            <img alt="Star Design Placements Image" src="/assets/About us/Our learning spaces/temp (5).png">

          </div>
          <div class=" p-0 px-1 text-center col-lg-4 col-sm-6 col-md-4 col-xxl-4 col-xl-4">
            <img alt="Star Design Placements Image" src="/assets/About us/Our learning spaces/temp (2).png">
          </div>
          <div class=" p-0 px-1 text-center col-lg-4 col-sm-6 col-md-4 col-xxl-4 col-xl-4">
            <img alt="Star Design Placements Image" src="/assets/About us/Our learning spaces/temp.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bgcolor2 d-flex justify-content-center  align-items-center ">
    <div class="container mt-0">
      <div class="footertext">
        <h2 class="display-5 text-center m-0">"An investment in knowledge pays the best interest"</h2>
        <p class=" text-end m-0">Benjamin Franklin.</p>
      </div>
    </div>
  </div>

</div>


<!-- <div class="stepper d-flex align-items-center ">
  <div class="step-div">
    <div class="step-1 step">1</div>
    <div class="step-line"></div>
  </div>
  <div class="step-div">
    <div class="step-2 step">2</div>
  </div>
  <div class="step-div">
    <div class="step-line"></div>
    <div class="step-3 step">3</div>
  </div>
</div> -->