<!-- <div class="container-fluid ">
    <nav class="navbar navbar-expand-md  navbar-light ">
        <a class="navbar-brand fw-bold" href="#">
            <img width="40" src="../../../assets/Landing Page/logo-icons/STAR DESIGN INSTITUTE.svg" alt="">
            STAR DESIGN INSTITUTE
        </a>
        <button class="navbar-toggler shadow-none border-0 w-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Placements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/services" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hire Talent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>

</div> -->



<div class="container-fluid ">
    <div class="container header">
        <div class="left-head d-flex align-items-center gap-3 ">
            <img width="42" src="../../../assets/Landing Page/logo-icons/STAR DESIGN INSTITUTE.svg" alt="">
            <h4 class="fw-bold m-0">STAR DESIGN INSTITUTE</h4>
        </div>
        <div class="right-head">
            <ul class=" list">
                <li routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"
                    class="list-tem">
                    Home</li>
                <li class="list-tem">
                    Courses</li>
                <li class="list-tem">Placements</li>
                <li routerLink="/services" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"
                    class="list-tem">Services</li>
                <li class="list-tem">Hire Talent</li>
                <li class="list-tem">Contact us</li>
            </ul>
        </div>
    </div>
</div>