.container-fluid {
  animation: navbar linear forwards;
  animation-timeline: view();
  animation-range: 110dvh 180dvh;
  position: sticky;
  top: -10rem;
  z-index: 1000;
  background-color: white;
}
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header {
  display: flex;
  align-items: center;
  flex: start;
  flex-wrap: wrap;
  gap: 10px 30px;
  min-height: 72px;
  padding: 15px 0px;
}
.header > * {
  flex: 1;
}

.left-head {
  h4 {
    white-space: nowrap;
  }
}
.list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  margin: 0px;
  padding: 0px;
}
.list > * {
  color: var(--li);
  font-size: var(--sixteen);
  white-space: nowrap;
  flex-wrap: wrap;
  flex: auto;
  transition: all 0.3s;
  cursor: pointer;
}

// li:is(:hover, .active),
// a:is(:hover, .active) {
// }
li:hover,
a:hover {
  font-weight: bold !important;
}
.active {
  color: black !important;
  font-weight: bold !important;
  text-shadow: none;
  *.active {
    color: black !important;
    font-weight: bold !important;
    text-shadow: none;
  }
}

@keyframes navbar {
  0%,
  100% {
    padding: 0px 30px;
    backdrop-filter: blur(0.3rem);
    background-color: rgb(255 255 255 / 75%);
  }
  100% {
    top: 0px;
  }
}

@media (max-width: 512px) {
  .container-fluid {
    padding: 5px !important;
  }
  .header > div {
    flex: auto;
  }
  .left-head {
    gap: 10px !important;
    h4 {
      font-size: 18px;
    }
  }
  .list {
    flex-wrap: wrap;
    gap: 5px 15px;
  }
}
.ri-menu-line {
  font-size: 30px;
}

.menu {
  display: flex;
  justify-content: end;
  border: none;
}

.normal-ul {
  .dropdown:hover {
    .dropdown-menu {
      display: block;
    }
  }

  .dropdown {
    position: relative;
  }
  .dropdown-menu {
    transition: display 0.3s;
    display: none;
    li {
      a {
        font-size: var(--fourteen);
        font-weight: 500;
        background-color: transparent !important;
      }
      position: relative;

      a::before {
        content: "";
        width: 0%;
        transition: all 0.4s ease !important;
      }

      a:hover::before {
        content: "";
        position: absolute;
        height: 3px;
        width: 100%;
        bottom: 0px;
        left: 0px;
        background-color: var(--bg-blue);
      }
    }
  }
}

.off-ul {
  display: flex;
  gap: 15px;
  align-items: start;
  .dropdown-menu {
    transform: translate3d(0px, 27px, 0px) translateY(-21px) !important;

    li {
      a {
        font-size: var(--fourteen);
        font-weight: 500;
        background-color: transparent !important;
      }
      position: relative;

      a::before {
        content: "";
        width: 0%;
        transition: all 0.4s ease !important;
      }

      a:hover::before {
        content: "";
        position: absolute;
        height: 3px;
        width: 100%;
        bottom: 0px;
        left: 0px;
        background-color: var(--bg-blue);
      }
    }
  }
}
