<div class="container-fluid track-con">
    <div class="header m-0" [ngClass]="{'container':!windowWidth}">
        <div class="left-head d-flex align-items-center gap-3 " routerLink="/">
            <img width="42" class="cursor" src="/assets/Landing Page/logo-icons/STAR DESIGN INSTITUTE.svg" alt="">
            <h4 class="fw-bold logo-text m-0">STAR DESIGN INSTITUTE</h4>
        </div>
        <div class="right-head" [ngClass]="{'menu':windowWidth}">
            <ul class="list normal-ul" *ngIf="!windowWidth">
                <!-- <li class="list-tem">
                        <a class="nav-link" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active">Home</a>
                    </li> -->
                <li class="list-tem dropdown">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="btn border-0"
                        [ngClass]="{'active':course}" role="button" aria-expanded="false">
                        Courses <i class="ri-arrow-down-s-line"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/courses/ui-ux-design" [routerLinkActiveOptions]="{ exact: true }"
                                routerLinkActive="active" class="dropdown-item">UI/UX DESIGN</a>
                        </li>
                        <li><a routerLink="/courses/ar-vr-ux-design" [routerLinkActiveOptions]="{ exact: true }"
                                routerLinkActive="active" class="dropdown-item">AR-VR/UX DESIGN
                            </a></li>
                        <li><a routerLink="/courses/ui-vi-design" [routerLinkActiveOptions]="{ exact: true }"
                                routerLinkActive="active" class="dropdown-item">UX/VI DESIGN
                            </a></li>
                        <li><a routerLink="/courses/bachelor-of-design" [routerLinkActiveOptions]="{ exact: true }"
                                routerLinkActive="active" class="dropdown-item">BACHELOR OF DESIGN

                            </a></li>
                        <li><a routerLink="/courses/product-management" [routerLinkActiveOptions]="{ exact: true }"
                                routerLinkActive="active" class="dropdown-item">PRODUCT MANAGEMENT

                            </a></li>
                        <li><a routerLink="/courses/graphic-design" [routerLinkActiveOptions]="{ exact: true }"
                                routerLinkActive="active" class="dropdown-item">GRAPHIC DESIGN

                            </a></li>
                    </ul>
                </li>
                <li class="list-tem" routerLink="/placements" [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="active">Placements</li>
                <li routerLink="/services" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"
                    class="list-tem">Services</li>
                <li class="list-tem" routerLink="/hire-talent" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Hire Talent</li>
                <li class="list-tem" routerLink="/contact-us" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Contact us
                </li>
            </ul>
            <div class="dropdown">
                <button *ngIf="windowWidth" (click)="openMenu()" [ngClass]="{'menu':windowWidth}"
                    class="btn shadow-none p-0" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i
                        class="ri-menu-line"></i></button>
            </div>

        </div>
    </div>
</div>

<!--Offcanvas-->

<div class="offcanvas offcanvas-start" id="offcanvas" data-bs-backdrop="true" id="offcanvasScrolling"
    aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <button type="button" class="text-white fs-1 p-0 btn border-none" data-bs-dismiss="offcanvas"
            aria-label="Close">
            <i class="ri-close-line"></i>
        </button>
    </div>
    <div class="offcanvas-body d-flex align-items-start justify-content-between">
        <ul class="navbar-nav off-ul list">
            <li class="list-tem nav-item dropdown">
                <a class="nav-link btn dropdown-toggle ps-0 border-0" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" [ngClass]="{'active':course}">
                    Courses
                </a>
                <ul class="dropdown-menu position-relative">
                    <li><a routerLink="/courses/ui-ux-design" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item">UI/UX
                            DESIGN</a></li>
                    <li><a routerLink="/courses/ar-vr-ux-design" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item">AR-VR/UX DESIGN
                        </a></li>
                    <li><a routerLink="/courses/ui-vi-design" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item">UX/VI
                            DESIGN
                        </a></li>
                    <li><a routerLink="/courses/bachelor-of-design" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item">BACHELOR OF DESIGN

                        </a></li>
                    <li><a routerLink="/courses/product-management" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item">PRODUCT MANAGEMENT

                        </a></li>
                    <li><a routerLink="/courses/graphic-design" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item">GRAPHIC
                            DESIGN

                        </a></li>
                </ul>
            </li>
            <li class="list-tem nav-item"><a class="nav-link" routerLink="/placements"
                    [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Placements</a></li>
            <li class="list-tem nav-item"><a class="nav-link" routerLink="/services"
                    [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Services</a></li>
            <li class="list-tem nav-item"><a routerLink="/hire-talent" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Hire Talent</a></li>
            <li class="list-tem nav-item"><a routerLink="/contact-us" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Contact us</a></li>
        </ul>

    </div>
</div>