<div class="container-fluid track-con">
    <div class="header m-0" [ngClass]="{'container':!windowWidth,'mx-4':windowWidth}">
        <div class="left-head d-flex align-items-center gap-3 " routerLink="/">
            <img width="42" class="cursor" src="../../../assets/Landing Page/logo-icons/STAR DESIGN INSTITUTE.svg"
                alt="">
            <h4 class="fw-bold logo-text m-0">STAR DESIGN INSTITUTE</h4>
        </div>
        <div class="right-head" [ngClass]="{'menu':windowWidth}">
            <ul class="list normal-ul" *ngIf="!windowWidth">
                <!-- <li class="list-tem">
                        <a class="nav-link" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active">Home</a>
                    </li> -->
                <li class="list-tem dropdown">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="btn border-0"
                        [ngClass]="{'active':course}" role="button" aria-expanded="false">
                        Courses <i class="ri-arrow-down-s-line"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/Courses/UI-UX-Design" [routerLinkActiveOptions]="{ exact: true }"
                                routerLinkActive="active" class="dropdown-item">UI/UX DESIGN</a>
                        </li>
                        <li><a routerLink="/Courses/AR-VR-UX-Design" [routerLinkActiveOptions]="{ exact: true }"
                                routerLinkActive="active" class="dropdown-item">AR-VR/UX DESIGN
                            </a></li>
                        <li><a routerLink="/Courses/UI-VI-Design" [routerLinkActiveOptions]="{ exact: true }"
                                routerLinkActive="active" class="dropdown-item">UX/VI DESIGN
                            </a></li>
                        <li><a routerLink="/Courses/Bachelor-of-Design" [routerLinkActiveOptions]="{ exact: true }"
                                routerLinkActive="active" class="dropdown-item">BACHELOR OF DESIGN

                            </a></li>
                        <li><a routerLink="/Courses/Product-Management" [routerLinkActiveOptions]="{ exact: true }"
                                routerLinkActive="active" class="dropdown-item">PRODUCT MANAGEMENT

                            </a></li>
                        <li><a routerLink="/Courses/Graphic-Design" [routerLinkActiveOptions]="{ exact: true }"
                                routerLinkActive="active" class="dropdown-item">GRAPHIC DESIGN

                            </a></li>
                    </ul>
                </li>
                <li class="list-tem" routerLink="/Placements" [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="active">Placements</li>
                <li routerLink="/Services" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"
                    class="list-tem">Services</li>
                <li class="list-tem" routerLink="/Hire-Talent" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Hire Talent</li>
                <li class="list-tem" routerLink="/Contact-Us" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Contact us
                </li>
            </ul>


            <div class="dropdown">
                <button *ngIf="windowWidth" (click)="openMenu()" [ngClass]="{'menu':windowWidth}"
                    class="btn shadow-none p-0" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i
                        class="ri-menu-line"></i></button>
            </div>

        </div>
    </div>
</div>

<!--Offcanvas-->

<div class="offcanvas offcanvas-start" id="offcanvas" data-bs-backdrop="true" id="offcanvasScrolling"
    aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-body d-flex align-items-start justify-content-between">
        <ul class="navbar-nav off-ul list">
            <!-- <li class="list-tem nav-item">
                <a class="nav-link" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="active">Home</a>
            </li> -->
            <li class="list-tem nav-item dropdown">
                <a class="nav-link btn dropdown-toggle ps-0 border-0" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" [ngClass]="{'active':course}">
                    Courses
                </a>
                <ul class="dropdown-menu position-relative">
                    <li><a routerLink="/Courses/UI-UX-Design" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item">UI/UX
                            DESIGN</a></li>
                    <li><a routerLink="/Courses/AR-VR-UX-Design" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item">AR-VR/UX DESIGN
                        </a></li>
                    <li><a routerLink="/Courses/UI-VI-Design" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item">UX/VI
                            DESIGN
                        </a></li>
                    <li><a routerLink="/Courses/Bachelor-of-Design" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item">BACHELOR OF DESIGN

                        </a></li>
                    <li><a routerLink="/Courses/Product-Management" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item">PRODUCT MANAGEMENT

                        </a></li>
                    <li><a routerLink="/Courses/Graphic-Design" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item">GRAPHIC
                            DESIGN

                        </a></li>
                </ul>
            </li>
            <li class="list-tem nav-item"><a class="nav-link" routerLink="/Placements"
                    [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Placements</a></li>
            <li class="list-tem nav-item"><a class="nav-link" routerLink="/Services"
                    [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Services</a></li>
            <li class="list-tem nav-item"><a routerLink="/Hire-Talent" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Hire Talent</a></li>
            <li class="list-tem nav-item"><a routerLink="/Contact-Us" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Contact us</a></li>
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
</div>