<!-- <app-header></app-header> -->
<div class="container-fluid">
    <div class="img-sec">
        <div class="layered-section"></div>

        <div class="" [ngClass]="{'container':!windowWidth,'mt-0':!windowWidth,'container-fluid':windowWidth}">
            <div class="row h-100 pt-sm-5">
                <div class="d-flex align-items-center justify-content-center col-lg-7 col-xl-7 col-xxl-7 col-md-7 col-sm-12 "
                    [ngClass]="{'mb-3':windowWidth}">
                    <div [ngClass]="{'px-3': windowWidth}"
                        class="h-100 left-col d-flex flex-column gap-2 align-items-start justify-content-center">
                        <h1 class="m-0 mb-4 fw-bold" [@dropAnimation]>LEARN, CERTIFY,<br>MAKE AN IMPACT.</h1>
                        <p class="display-5 fw-light" [@dropAnimation]>Skills For Better Future . . .</p>
                    </div>
                </div>
                <div
                    class="col-lg-5 col-xl-5 col-xxl-5 col-md-5 col-sm-12 d-flex align-items-center justify-content-start ">
                    <img class="image object-fit-contain " loading="lazy"
                        src="/assets/Landing Page/heroimage.stardesigninstitute.png" alt="">
                </div>
            </div>

        </div>
    </div>

    <!-- Course Cards-->
    <div class="container-fluid bg-white py-5">
        <div class="container">
            <div class=" content1 mt-0 mb-4">
                <h1 class="fw-bold m-0">
                    Explore Featured Courses
                </h1>
                <p class="m-0">Learn in-demand skills to future-proof your career.</p>
            </div>
            <div class="row courses p-0">
                <div class="col-lg-4 mb-5 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
                    <div class="card h-100" routerLink="/Courses/UI-UX-Design">
                        <div class="card-img-top">
                            <img src="assets/Landing Page/Course/ui ux design.star design institute.png"
                                class="img-fluid" alt="">
                        </div>
                        <div class="card-body pb-0">
                            <div class="course-title">
                                <h4 class="card-title mb-2">
                                    UI/UX DESIGN
                                </h4>
                                <p class="card-text mb-2">Learn from Scratch and design great experiences.</p>
                            </div>
                            <div class="duration">
                                <p class="m-0 pb-2"><span class="fw-bold">Duration</span> : 03 Months</p>
                                <p class="m-0 mt-2"><span class="fw-bold ">Upcoming Batch </span> : June 05, 2024</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <!-- <button class="enroll-btn btn shadow-none ">ENROLL NOW</button> -->
                            <button class="btn border-0 know-btn shadow-none d-flex gap-3 align-items-center">KNOW
                                MORE <img class="black" src="/assets/arrow/Group 75711.svg" alt=""> <img class="blue"
                                    src="/assets/Blue arrow/arrow.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
                    <div class="card h-100" routerLink="/Courses/AR-VR-UX-Design">
                        <div class="card-img-top">
                            <img src="/assets/Landing Page/Course/ar vr-ux design.star design institute.png"
                                class="img-fluid " alt="">
                        </div>
                        <div class="card-body pb-0">
                            <div class="course-title">
                                <h4 class="card-title mb-2">
                                    AR-VR/UX DESIGN
                                </h4>
                                <p class="card-text mb-2">Bring the future to life.</p>
                            </div>
                            <div class="duration">
                                <p class="m-0 pb-2"><span class="fw-bold">Duration</span> : 05 Months</p>
                                <p class="m-0 mt-2"><span class="fw-bold ">Upcoming Batch </span> : July 01, 2024</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <!-- <button class="enroll-btn btn shadow-none ">ENROLL NOW</button> -->
                            <button class="btn border-0 know-btn shadow-none d-flex gap-3 align-items-center">KNOW
                                MORE <img class="black" src="/assets/arrow/Group 75711.svg" alt=""> <img class="blue"
                                    src="/assets/Blue arrow/arrow.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
                    <div class="card h-100" routerLink="/Courses/UI-VI-Design">
                        <div class="card-img-top">
                            <img src="/assets/Landing Page/Course/ux vi design.star design institute.png"
                                class="img-fluid " alt="">
                        </div>
                        <div class="card-body pb-0">
                            <div class="course-title">
                                <h4 class="card-title mb-2">
                                    UX/VI DESIGN
                                </h4>
                                <p class="card-text mb-2">Learn VI Design bring the future to life</p>
                            </div>
                            <div class="duration">
                                <p class="m-0 pb-2"><span class="fw-bold">Duration</span> : 04 Months</p>
                                <p class="m-0 mt-2"><span class="fw-bold ">Upcoming Batch </span> : July 01, 2024</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <!-- <button class="enroll-btn btn shadow-none ">ENROLL NOW</button> -->
                            <button class="btn border-0 know-btn shadow-none d-flex gap-3 align-items-center">KNOW
                                MORE <img class="black" src="/assets/arrow/Group 75711.svg" alt=""> <img class="blue"
                                    src="/assets/Blue arrow/arrow.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
                    <div class="card h-100" routerLink="/Courses/Bachelor-of-Design">
                        <div class="card-img-top">
                            <img src="/assets/Landing Page/Course/Bachelor of Design.star design institute.png"
                                class="img-fluid " alt="">
                        </div>
                        <div class="card-body pb-0">
                            <div class="course-title">
                                <h4 class="card-title mb-2">
                                    BACHELOR OF DESIGN
                                </h4>
                                <p class="card-text mb-2">B.Des 4 Year Full Time Program</p>
                            </div>
                            <div class="duration">
                                <p class="m-0 pb-2"><span class="fw-bold">Duration</span> : 04 Year Programme</p>
                                <p class="m-0 mt-2"><span class="fw-bold ">Upcoming Batch </span> : July 15, 2024</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <!-- <button class="enroll-btn btn shadow-none ">ENROLL NOW</button> -->
                            <button class="btn border-0 know-btn shadow-none d-flex gap-3 align-items-center">KNOW
                                MORE <img class="black" src="/assets/arrow/Group 75711.svg" alt=""> <img class="blue"
                                    src="/assets/Blue arrow/arrow.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
                    <div class="card h-100" routerLink="/Courses/Product-Management">
                        <div class="card-img-top">
                            <img src="/assets/Landing Page/Course/Product Management.star design institute.png"
                                class="img-fluid " alt="">
                        </div>
                        <div class="card-body pb-0">
                            <div class="course-title">
                                <h4 class="card-title mb-2">
                                    PRODUCT MANAGEMENT
                                </h4>
                                <p class="card-text mb-2">Become a next level with Product Manager</p>
                            </div>
                            <div class="duration">
                                <p class="m-0 pb-2"><span class="fw-bold">Duration</span> : 06 Months</p>
                                <p class="m-0 mt-2"><span class="fw-bold ">Upcoming Batch </span> : May 15, 2024</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <!-- <button class="enroll-btn btn shadow-none ">ENROLL NOW</button> -->
                            <button class="btn border-0 know-btn shadow-none d-flex gap-3 align-items-center">KNOW
                                MORE <img class="black" src="/assets/arrow/Group 75711.svg" alt=""> <img class="blue"
                                    src="/assets/Blue arrow/arrow.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
                    <div class="card h-100" routerLink="/Courses/Graphic-Design">
                        <div class="card-img-top">
                            <img src="/assets/Landing Page/Course/Graphic Design.star design institute.png"
                                class="img-fluid " alt="">
                        </div>
                        <div class="card-body pb-0">
                            <div class="course-title">
                                <h4 class="card-title mb-2">
                                    GRAPHIC DESIGN
                                </h4>
                                <p class="card-text mb-2">Ignite Your Creative Fire</p>
                            </div>
                            <div class="duration">
                                <p class="m-0 pb-2"><span class="fw-bold">Duration</span> : 04 Months</p>
                                <p class="m-0 mt-2"><span class="fw-bold ">Upcoming Batch </span> : May 10, 2024</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <!-- <button class="enroll-btn btn shadow-none ">ENROLL NOW</button> -->
                            <button class="btn border-0 know-btn shadow-none d-flex gap-3 align-items-center">KNOW
                                MORE <img class="black" src="/assets/arrow/Group 75711.svg" alt=""> <img class="blue"
                                    src="/assets/Blue arrow/arrow.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid  why-star py-5">
        <div class="container ">
            <h1 class="m-0  fw-bold text-center ">Why Star design Institute ?</h1>
            <div class="row">
                <div class="col-lg-6 col-xl-6   col-xxl-4 col-md-6 col-12 "
                    [ngClass]="{'mt-3':windowWidth786,'mt-5':!windowWidth786}">
                    <div class="card">
                        <div class="star-1">
                            <img src="/assets/Landing Page/Why Star design Institute/Small offline class.star design institute.svg"
                                alt="">
                            <div class="right">
                                <h4 class="card-title mb-2">
                                    Small Class
                                </h4>
                                <p class="card-text mb-2">Maximum of 10 students per class Learn from Industry Expert
                                    Instructors.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6   col-xxl-4 col-md-6 col-12 "
                    [ngClass]="{'mt-3':windowWidth786,'mt-5':!windowWidth786}">
                    <div class="card">
                        <div class="star-1">
                            <img src="/assets/Landing Page/Why Star design Institute/exprience teacher.star design institute.svg"
                                alt="">
                            <div class="right">
                                <h4 class="card-title mb-2">
                                    Experienced Teachers
                                </h4>
                                <p class="card-text mb-2">Engage in individulaised, hands-on learning with top
                                    designers.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6   col-xxl-4 col-md-6 col-12 "
                    [ngClass]="{'mt-3':windowWidth786,'mt-5':!windowWidth786}">
                    <div class="card">
                        <div class="star-1">
                            <img src="/assets/Landing Page/Why Star design Institute/mentorship..star design institute.svg"
                                alt="">
                            <div class="right">
                                <h4 class="card-title mb-2">
                                    Mentorship
                                </h4>
                                <p class="card-text mb-2">Dedicated 1:1 Mentors for everyone weeekly Dought solving
                                    session with experts.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6   col-xxl-4 col-md-6 col-12 "
                    [ngClass]="{'mt-3':windowWidth786,'mt-5':!windowWidth786}">
                    <div class="card">
                        <div class="star-1">
                            <img src="/assets/Landing Page/Why Star design Institute/mock interview.star design institute.svg"
                                alt="">
                            <div class="right">
                                <h4 class="card-title mb-2">
                                    Mock Interviews
                                </h4>
                                <p class="card-text mb-2">Mock Interviews with Experts and it will help to Boost Your
                                    Confidence.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6   col-xxl-4 col-md-6 col-12 "
                    [ngClass]="{'mt-3':windowWidth786,'mt-5':!windowWidth786}">
                    <div class="card">
                        <div class="star-1">
                            <img src="/assets/Landing Page/Why Star design Institute/hybrid learning..star design institute.svg"
                                alt="">
                            <div class="right">
                                <h4 class="card-title mb-2">
                                    Hybrid Learning
                                </h4>
                                <p class="card-text mb-2">Participate remotely or in-person based on your preference.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6   col-xxl-4 col-md-6 col-12 "
                    [ngClass]="{'mt-3':windowWidth786,'mt-5':!windowWidth786}">
                    <div class="card">
                        <div class="star-1">
                            <img src="/assets/Landing Page/Why Star design Institute/Real world projects.star design institute.svg"
                                alt="">
                            <div class="right">
                                <h4 class="card-title mb-2">
                                    Real-World Projects
                                </h4>
                                <p class="card-text mb-2">Build Your Proffesional Portfolio by working on real-world
                                    projects.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Need to insert in the new page-->


    <!-- <div class="container events">
        <div class="content1 text-center mt-5 mb-4">
            <h1 class="fw-bold m-0">
                Our Upcoming Events
            </h1>
            <p class="m-0">Where people find all events that they may want to involve</p>
        </div>

        <div class="row ">
            <div class="col-lg-4 mb-4 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
                <div class="card h-100">
                    <div class="card-img-top position-relative ">
                        <img src="/assets/Landing Page/Our Upcoming Events/ux design - hyderabad.star design institute.png"
                            class="img-fluid " alt="">
                        <span class="date">18 AUGUST 2022</span>
                    </div>
                    <div class="card-body ">
                        <h4 class="card-title mb-3">
                            UX Design - Hyderabad
                        </h4>
                        <div class="duration">
                            <p class="m-0 mb-2">18 AUGUST - 10:30AM - 12:30AM</p>
                            <p class="m-0 ">HYDERABAD</p>
                        </div>
                    </div>
                    <div class="card-footer mb-3 d-flex align-items-center justify-content-between ">
                        <button class="btn fw-medium register-btn">REGISTER NOW</button>
                        <i class="ri-share-fill"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
                <div class="card h-100">
                    <div class="card-img-top position-relative ">
                        <img src="/assets/Landing Page/Our Upcoming Events/ux ui design - virtual.star design institute.png"
                            class="img-fluid " alt="">
                        <span class="date">10 DECEMBER 2022</span>
                    </div>
                    <div class="card-body ">
                        <h4 class="card-title mb-3">
                            UX/UI Design - Virtual
                        </h4>
                        <div class="duration">
                            <p class="m-0 mb-2">10 DECEMBER - 05:00PM - 07:00PM</p>
                            <p class="m-0 nav-link text-primary fw-medium">VIRTUAL</p>
                        </div>
                    </div>
                    <div class="card-footer mb-3 d-flex align-items-center justify-content-between ">
                        <button class="btn fw-medium register-btn">REGISTER NOW</button>
                        <i class="ri-share-fill"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
                <div class="card h-100">
                    <div class="card-img-top position-relative ">
                        <img src="/assets/Landing Page/Our Upcoming Events/ux ui design - bengaluru.star design institute.png"
                            class="img-fluid " alt="">
                        <span class="date">05 AUGUST 2022</span>
                    </div>
                    <div class="card-body ">
                        <h4 class="card-title mb-3">
                            UX/UI Design - Bengaluru
                        </h4>
                        <div class="duration">
                            <p class="m-0 mb-2">05 AUGUST - 05:00PM - 07:00PM</p>
                            <p class="m-0 ">HYDERABAD</p>
                        </div>
                    </div>
                    <div class="card-footer mb-3 d-flex align-items-center justify-content-between ">
                        <button class="btn fw-medium register-btn">REGISTER NOW</button>
                        <i class="ri-share-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container-fluid bg-white  pt-5">
        <div class="container work mt-0">
            <div class="content1 text-center ">
                <h1 class="fw-bold m-0">
                    Where our Students Work
                </h1>
                <p class="m-0 ">Start your carrier with industry leader our course covers the latest
                    industry-relevant
                    topics
                    and tools.</p>
            </div>

            <div class="logos-div pt-5">
                <div class="card-img">
                    <img class="logos "
                        src="/assets/Landing Page/where our students works/Amazon.star design institute.svg" alt="">
                </div>
                <div class="card-img">
                    <img class="logos "
                        src="/assets/Landing Page/where our students works/Flipkart.star design institute.svg" alt="">
                </div>


                <div class="card-img">
                    <img class="logos "
                        src="/assets/Landing Page/where our students works/Cognizant.star design institute.svg" alt="">
                </div>

                <div class="card-img">
                    <img class="logos "
                        src="/assets/Landing Page/where our students works/Facebook.star design institute.svg" alt="">
                </div>
                <div class="card-img">
                    <img class="logos"
                        src="/assets/Landing Page/where our students works/Accenture.star design institute.svg" alt="">
                </div>
                <div class="card-img">
                    <img class="logos "
                        src="/assets/Landing Page/where our students works/tcs.star design institute.svg" alt="">
                </div>
                <div class="card-img">
                    <img class="logos "
                        src="/assets/Landing Page/where our students works/Indigo.star design institute.svg" alt="">
                </div>

                <div class="card-img">
                    <img class="logos "
                        src="/assets/Landing Page/where our students works/qualcomm.star design institute.svg" alt="">
                </div>
                <div class="card-img">
                    <img class="logos" src="/assets/Landing Page/where our students works/EY.star design institute.svg"
                        alt="">
                </div>

                <div class="card-img">
                    <img class="logos "
                        src="/assets/Landing Page/where our students works/sap.star design institute.svg" alt="">
                </div>
                <div class="card-img">
                    <img class="logos "
                        src="/assets/Landing Page/where our students works/coupa.star design institute.svg" alt="">
                </div>
                <div class="card-img">
                    <img class="logos "
                        src="/assets/Landing Page/where our students works/zoho.star design institute.svg" alt="">
                </div>

                <div class="card-img">
                    <img class="logos "
                        src="/assets/Landing Page/where our students works/Capgemini.star design institute.svg" alt="">
                </div>
                <div class="card-img">
                    <img class="logos"
                        src="/assets/Landing Page/where our students works/mindtree.star design institute.svg" alt="">
                </div>
                <div class="card-img">
                    <img class="logos "
                        src="/assets/Landing Page/where our students works/hcl.star design institute.svg" alt="">
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid bg-white  py-5">
        <div class="container experience">
            <div class="content1 text-center mt-5 mb-4">
                <h1 class="fw-bold m-0">
                    Placement Stories
                </h1>
                <p class="m-0">Let’s hear from our students who were placed with different firms based on the respective
                    courses.</p>
            </div>
            <div class="arrows d-flex justify-content-end ">
                <div class="d-flex align-items-center gap-4 mb-3">
                    <img width="20px" src="/assets/arrow/Group 76396.svg" alt="" (click)="slide1('left')"
                        (click)="slide('left')" [ngClass]="{'img-scroll':!isLeftScrollable}"
                        [style.pointer-events]="isLeftScrollable ? 'auto' : 'none'">
                    <img width="20px" src="/assets/arrow/Group 75711.svg" alt="" (click)="slide1('right')"
                        (click)="slide('right')" [ngClass]="{'img-scroll':!isRightScrollable}"
                        [style.pointer-events]="isRightScrollable ? 'auto' : 'none'">
                </div>
            </div>
            <div class="cards" #cards (scroll)="updateScrollState()">
                <div class="card ">
                    <div class="card-body">
                        <p class="card-text mb-3">
                            <img src="/assets/Landing Page/logo-icons/Group 76304.svg" alt="">Whole team of UX
                            Academy was supportive along the whole course.
                            Quickly
                            reacting, offering information and help. I am really impressed by the level of competence
                            presented by the teacher. And of course what cannot be overestimated, providing contact with
                            real clients .
                        </p>
                        <div class="exp-div">
                            <div class="img-div"><img src="/assets/Landing Page/Student Experiences/Sukasi Raju.png"
                                    width="141" alt=""></div>
                            <div class="exp-text">
                                <h4 class="fw-bold m-0">Sukasi Raju</h4>
                                <p class="card-text m-0">UX Designer at</p>
                                <img src="/assets/Landing Page/Student Experiences/codeprism.stardesigninstitute.svg"
                                    width="120" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body">
                        <p class="card-text mb-3"><img src="/assets/Landing Page/logo-icons/Group 76304.svg" alt="">I
                            was so impressed with UX Academy. The content is expansive and the
                            instructors are extremely knowledgeable. The course setup is well thought out and its
                            fantastic
                            you get to work on a real-life product. I’ve done a few courses and this is by far up there
                            with
                            the best.</p>
                        <div class="exp-div">
                            <div class="img-div"><img src="/assets/Landing Page/Student Experiences/Shruti.png"
                                    width="141" alt=""></div>
                            <div class="exp-text">
                                <h4 class="fw-bold m-0">Shruti Amudalapalli</h4>
                                <p class="card-text m-0">UX Designer at</p>
                                <img src="/assets/Landing Page/Student Experiences/pimsleur.stardesigninstitute.svg"
                                    width="120" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body">
                        <p class="card-text mb-3"><img src="/assets/Landing Page/logo-icons/Group 76304.svg" alt="">I
                            recently completed the UI/UX course it was an amazing experience. The
                            course was very informative and engaging, with a great mix of theoretical and practical
                            components ,Highly recommend for anyone looking to get into UX/UI design .</p>
                        <div class="exp-div">
                            <div class="img-div"><img
                                    src="/assets/Landing Page/Student Experiences/Nagasri Battaraju.png" width="141"
                                    alt=""></div>
                            <div class="exp-text">
                                <h4 class="fw-bold m-0">Nagasri Battaraju</h4>
                                <p class="card-text m-0">UX Designer at</p>
                                <img src="/assets/Landing Page/Student Experiences/united..stardesigninstitute.svg"
                                    width="120" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body">
                        <p class="card-text mb-3"><img src="/assets/Landing Page/logo-icons/Group 76304.svg" alt="">It's
                            a great learning experience with star design institute Friendly environment
                            makes design learning fun & engaging. Developed new skills, unleashed creativity. Grateful
                            for experience & knowledge gained. Built confidence, launched my design career.</p>
                        <div class="exp-div">
                            <div class="img-div"><img src="/assets/Landing Page/Amulya/Amulya.png" width="141" alt="">
                            </div>
                            <div class="exp-text">
                                <h4 class="fw-bold m-0">Amulya</h4>
                                <p class="card-text m-0">UX Designer at</p>
                                <img src="/assets/Landing Page/Amulya/Group 4622.svg" width="120" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!--new-->
                <div class="card ">
                    <div class="card-body">
                        <p class="card-text mb-3"><img src="/assets/Landing Page/logo-icons/Group 76304.svg" alt="">My
                            experience was excellent. The institute provided compreh - ensive training, and the mentors
                            were highly knowledgeable and supportive.The interactive learning environment enhanced my
                            skills effectively.</p>
                        <div class="exp-div">
                            <div class="img-div"><img
                                    src="../../../assets/Landing Page/placement story/Swetha Sharma.png" width="141"
                                    alt="">
                            </div>
                            <div class="exp-text">
                                <h4 class="fw-bold m-0">Swetha Sharma</h4>
                                <p class="card-text m-0">UX Designer at</p>
                                <img src="../../../assets/Landing Page/placement story/Capgemini.png" width="120"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card ">
                    <div class="card-body">
                        <p class="card-text mb-3"><img src="/assets/Landing Page/logo-icons/Group 76304.svg"
                                alt="">Grateful for Star Design Institute. Mentor Rajesh transformed my passion into a
                            pursuit. Comprehensive curriculum, hands-on approach, invaluable skills. Thankful for
                            supportive environment, growth opportunities. More than an Institute. Thank you, Rajesh Sir,
                            for inspiring me.</p>
                        <div class="exp-div">
                            <div class="img-div"><img src="../../../assets/Landing Page/placement story/Sunil Kumar.png"
                                    width="141" alt="">
                            </div>
                            <div class="exp-text">
                                <h4 class="fw-bold m-0">Sunil Kumar</h4>
                                <p class="card-text m-0">UX Designer at</p>
                                <img src="../../../assets/Landing Page/placement story/SU Logo.png" width="120" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card ">
                    <div class="card-body">
                        <p class="card-text mb-3"><img src="/assets/Landing Page/logo-icons/Group 76304.svg"
                                alt="">Thrived in design thanks to star design institute's expert faculty, hands-on
                            learning & focus on innovation. Grateful for the experience that launched my dream career.
                            #ThankYouStarInstitute</p>
                        <div class="exp-div">
                            <div class="img-div"><img src="../../../assets/Landing Page/placement story/S. Priya.png"
                                    width="141" alt="">
                            </div>
                            <div class="exp-text">
                                <h4 class="fw-bold m-0">S. Priya</h4>
                                <p class="card-text m-0">UX Designer at</p>
                                <img src="../../../assets/Landing Page/placement story/Segurosoft.png" width="120"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card ">
                    <div class="card-body">
                        <p class="card-text mb-3"><img src="/assets/Landing Page/logo-icons/Group 76304.svg" alt="">This
                            institute blew me away! I learned so much more than I ever expected, and the interactive
                            classes kept me hooked. If you're looking to level up your skills, this is the place. It was
                            an absolute blast, and I highly recommend it.</p>
                        <div class="exp-div">
                            <div class="img-div"><img src="../../../assets/Landing Page/placement story/k. sireesha.png"
                                    width="141" alt="">
                            </div>
                            <div class="exp-text">
                                <h4 class="fw-bold m-0">K. Sireesha</h4>
                                <p class="card-text m-0">UX Designer at</p>
                                <img src="../../../assets/Landing Page/placement story/Quanint Techsoft.png" width="120"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card ">
                    <div class="card-body">
                        <p class="card-text mb-3"><img src="/assets/Landing Page/logo-icons/Group 76304.svg" alt="">Star
                            Design Institute provided a great learning experience from scratch. It's one of the best
                            institutes for UI/UX designers. I appreciated the opportunity to develop my skills and
                            knowledge in a supportive environment. Highly recommend.</p>
                        <div class="exp-div">
                            <div class="img-div"><img src="../../../assets/Landing Page/placement story/Saik Yasin.png"
                                    width="141" alt="">
                            </div>
                            <div class="exp-text">
                                <h4 class="fw-bold m-0">Saik Yasin</h4>
                                <p class="card-text m-0">UX Designer at</p>
                                <img src="../../../assets/Landing Page/placement story/lexodd.png" width="120" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container organization py-5">
        <div class="content1 text-center  mb-4">
            <h1 class="fw-bold m-0">
                Affiliations & Accreditations
            </h1>
            <p class="m-0 mb-5">We've Affiliations and Accreditations with the following esteemed organizations </p>
        </div>
        <div class="org-logos mb-3 ">
            <img src="/assets/Landing Page/Affiliations, Accreditations & Recognitions/google for education..star design institute.svg"
                alt="">
            <img src="/assets/Landing Page/Affiliations, Accreditations & Recognitions/wdo..star design institute.svg"
                alt="">
            <img src="/assets/Landing Page/Affiliations, Accreditations & Recognitions/nasscom..star design institute.svg"
                alt="">
            <img src="/assets/Landing Page/Affiliations, Accreditations & Recognitions/adobe.star design institute.svg"
                alt="">
            <img src="/assets/JNAFAU_logo.png" alt="">
            <img src="/assets/Landing Page/Affiliations, Accreditations & Recognitions/chitkara university..star design institute.svg"
                alt="">
        </div>
    </div>

</div>