<app-header></app-header>
<div class="container-fluid">
    <div class="container-fluid img-sec">
        <div class="container  ">
            <div class="row h-100">
                <div class="col-lg-7 col-xl-7 col-xxl-7 col-md-8 col-sm-12 ">
                    <div class="h-100 left-col d-flex flex-column gap-2 align-items-start justify-content-center">
                        <h1 class="m-0 fw-bold ">LEARN, CERTIFY, MAKE AN IMPACT.</h1>
                        <p class="display-5">Design Your Better Future . . .</p>
                    </div>
                </div>
                <div
                    class="col-lg-5 col-xl-5 col-xxl-5 col-md-4 col-sm-12 d-flex align-items-center justify-content-center ">
                    <img class="image object-fit-contain " src="../../../assets/images/img-1.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- Course Cards-->
    <div class="container">
        <div class=" content1 mt-5 mb-4">
            <h1 class="fw-bold m-0">
                Explore Featured Courses
            </h1>
            <p class="m-0">Learn in-demand skills to future-proof your career.</p>
        </div>
        <div class="row courses">
            <div class="col-lg-4 mb-3 col-xl-4 col-xxl-3 col-md-6 col-sm-12">
                <div class="card h-100">
                    <div class="card-img-top">
                        <img src="../../../assets/images/card-1.jpg" class="img-fluid " alt="">
                    </div>
                    <div class="card-body pb-0">
                        <h4 class="card-title mb-2">
                            UI/UX DESIGN
                        </h4>
                        <p class="card-text mb-2">Learn from Scratch and design great experiences.</p>
                        <div class="duration">
                            <p class="m-0 pb-2"><span class="fw-bold">Duration</span> : 04 Months</p>
                            <p class="m-0 mt-2"><span class="fw-bold ">Upcoming Batch </span> : Aug 11, 2023</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="enroll-btn btn shadow-none ">ENROLL NOW</button>
                        <button class="knowmore-btn btn shadow-none ">KNOW MORE</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 col-xl-4 col-xxl-3 col-md-6 col-sm-12">
                <div class="card h-100">
                    <div class="card-img-top">
                        <img src="../../../assets/images/card-2.jpg" class="img-fluid " alt="">
                    </div>
                    <div class="card-body pb-0">
                        <h4 class="card-title mb-2">
                            UI/UX DESIGN
                        </h4>
                        <p class="card-text mb-2">Learn from Scratch and design great experiences.</p>
                        <div class="duration">
                            <p class="m-0 pb-2"><span class="fw-bold">Duration</span> : 04 Months</p>
                            <p class="m-0 mt-2"><span class="fw-bold ">Upcoming Batch </span> : Aug 11, 2023</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="enroll-btn btn shadow-none ">ENROLL NOW</button>
                        <button class="knowmore-btn btn shadow-none ">KNOW MORE</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 col-xl-4 col-xxl-3 col-md-6 col-sm-12">
                <div class="card h-100">
                    <div class="card-img-top">
                        <img src="../../../assets/images/card-3.jpg" class="img-fluid " alt="">
                    </div>
                    <div class="card-body pb-0">
                        <h4 class="card-title mb-2">
                            UI/UX DESIGN
                        </h4>
                        <p class="card-text mb-2">Learn from Scratch and design great experiences.</p>
                        <div class="duration">
                            <p class="m-0 pb-2"><span class="fw-bold">Duration</span> : 04 Months</p>
                            <p class="m-0 mt-2"><span class="fw-bold ">Upcoming Batch </span> : Aug 11, 2023</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="enroll-btn btn shadow-none ">ENROLL NOW</button>
                        <button class="knowmore-btn btn shadow-none ">KNOW MORE</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 col-xl-4 col-xxl-3 col-md-6 col-sm-12">
                <div class="card h-100">
                    <div class="card-img-top">
                        <img src="../../../assets/images/card-4.jpg" class="img-fluid " alt="">
                    </div>
                    <div class="card-body pb-0">
                        <h4 class="card-title mb-2">
                            UI/UX DESIGN
                        </h4>
                        <p class="card-text mb-2">Learn from Scratch and design great experiences.</p>
                        <div class="duration">
                            <p class="m-0 pb-2"><span class="fw-bold">Duration</span> : 04 Months</p>
                            <p class="m-0 mt-2"><span class="fw-bold ">Upcoming Batch </span> : Aug 11, 2023</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="enroll-btn btn shadow-none ">ENROLL NOW</button>
                        <button class="knowmore-btn btn shadow-none ">KNOW MORE</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 col-xl-4 col-xxl-3 col-md-6 col-sm-12">
                <div class="card h-100">
                    <div class="card-img-top">
                        <img src="../../../assets/images/card-2.jpg" class="img-fluid " alt="">
                    </div>
                    <div class="card-body pb-0">
                        <h4 class="card-title mb-2">
                            UI/UX DESIGN
                        </h4>
                        <p class="card-text mb-2">Learn from Scratch and design great experiences.</p>
                        <div class="duration">
                            <p class="m-0 pb-2"><span class="fw-bold">Duration</span> : 04 Months</p>
                            <p class="m-0 mt-2"><span class="fw-bold ">Upcoming Batch </span> : Aug 11, 2023</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="enroll-btn btn shadow-none ">ENROLL NOW</button>
                        <button class="knowmore-btn btn shadow-none ">KNOW MORE</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 col-xl-4 col-xxl-3 col-md-6 col-sm-12">
                <div class="card h-100">
                    <div class="card-img-top">
                        <img src="../../../assets/images/card-3.jpg" class="img-fluid " alt="">
                    </div>
                    <div class="card-body pb-0">
                        <h4 class="card-title mb-2">
                            UI/UX DESIGN
                        </h4>
                        <p class="card-text mb-2">Learn from Scratch and design great experiences.</p>
                        <div class="duration">
                            <p class="m-0 pb-2"><span class="fw-bold">Duration</span> : 04 Months</p>
                            <p class="m-0 mt-2"><span class="fw-bold ">Upcoming Batch </span> : Aug 11, 2023</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="enroll-btn btn shadow-none ">ENROLL NOW</button>
                        <button class="knowmore-btn btn shadow-none ">KNOW MORE</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid  why-star">
        <div class="container">
            <h1 class="m-0 pb-5 pt-4 fw-bold text-center ">Why Star design Institute ?</h1>
            <div class="row">
                <div class="col-lg-6 col-xl-6 col-xxl-4 mb-3 col-md-6 col-6 ">
                    <div class="card">
                        <div class="star-1">
                            <i class="ri-presentation-fill"></i>
                            <div class="right">
                                <h4 class="card-title mb-2">
                                    Small Offline Class
                                </h4>
                                <p class="card-text mb-2">Maximum of 10 students per class Learn from Industry Expert
                                    Instructors.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6 col-xxl-4 mb-3 col-md-6 col-6 ">
                    <div class="card">
                        <div class="star-1">
                            <i class="ri-user-2-fill"></i>
                            <div class="right">
                                <h4 class="card-title mb-2">
                                    Experienced Teachers
                                </h4>
                                <p class="card-text mb-2">Engage in individulaised, hands-on learning with top
                                    designers.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6 col-xxl-4 mb-3 col-md-6 col-6 ">
                    <div class="card">
                        <div class="star-1">
                            <i class="ri-parent-line"></i>
                            <div class="right">
                                <h4 class="card-title mb-2">
                                    Mentorship
                                </h4>
                                <p class="card-text mb-2">Dedicated 1:1 Mentors for everyone weeekly Dought solving
                                    session with experts.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6 col-xxl-4 mb-3 col-md-6 col-6 ">
                    <div class="card">
                        <div class="star-1">
                            <i class="ri-presentation-fill"></i>
                            <div class="right">
                                <h4 class="card-title mb-2">
                                    Mock Interviews
                                </h4>
                                <p class="card-text mb-2">Mock Interviews with Experts and it will help to Boost Your
                                    Confidence.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6 col-xxl-4 mb-3 col-md-6 col-6 ">
                    <div class="card">
                        <div class="star-1">
                            <i class="ri-slideshow-fill"></i>
                            <div class="right">
                                <h4 class="card-title mb-2">
                                    Hybrid Learning
                                </h4>
                                <p class="card-text mb-2">Participate remotely or in-person based on your preference.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6 col-xxl-4 mb-3 col-md-6 col-6 ">
                    <div class="card">
                        <div class="star-1">
                            <i class="ri-dashboard-line"></i>
                            <div class="right">
                                <h4 class="card-title mb-2">
                                    Real-World Projects
                                </h4>
                                <p class="card-text mb-2">Build Your Proffesional Portfolio by working on real-world
                                    projects.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>