.container-fluid {
  padding: 0px;
  .img-sec {
    background-color: var(--bg-blue);
    padding-top: 40px;
    overflow: hidden;
    .row {
      .left-col {
        margin-top: var(--marginTop, 0px);
      }
      color: var(--white);
      h1 {
        font-size: var(--sixty);
      }
      p {
        font-size: var(--thirtyFive);
      }
    }
    .image {
      max-width: 100%;
      display: block;
      // border-radius: 85% 1% 15% 3%;
      height: 526px;
      position: relative;
      bottom: 0px;
    }
  }

  .card {
    border-radius: 0px;
    cursor: pointer;
    transition: all 0.4s;
    .card-img-top {
      border-radius: 0px;
      max-height: 200px;
      overflow: hidden;

      img {
        transition: all 0.4s;
        max-width: 100%;
        display: block;
        object-fit: cover;
      }
    }
  }
  .card:hover {
    box-shadow: 3px 3px 10px #00000071;
    .card-img-top {
      img {
        scale: 1.2;
      }
    }
  }
  .content1 {
    h1 {
      font-size: var(--fiftyFive);
    }
    p {
      font-size: var(--twentyFive);
    }
  }

  .courses {
    padding: 0px 100px;

    .card {
      .card-title {
        font-size: var(--twenty);
        font-weight: bold;
      }
      .card-text {
        font-size: var(--twelve);
      }
      .duration {
        padding: 20px 15px;
        background-color: var(--light);
        font-size: var(--twelve);
        .pb-2 {
          border-bottom: 1px solid #e2e2e2;
        }
      }
      .card-footer {
        display: flex;
        align-items: center;
        padding: 5px 16px 0px 16px;
        border: none;
        background: transparent;
        button {
          font-size: var(--twelve);
        }
        .enroll-btn {
          padding: 8px 15px;
          background: var(--bg-blue);
          border-radius: 0px;
          color: white;
          font-weight: 500;
          transition: all 0.3s ease-in;
        }
        .enroll-btn:is(:hover) {
          background: #2e2e87;
          font-weight: 600;
        }
        .knowmore-btn {
          transition: all 0.7s ease;
          padding: 8px 0px;
          flex: 1;
          font-weight: 500;
          text-align: end;
        }
        .knowmore-btn:is(:hover) {
          background-color: var(--light);
        }
      }
    }
  }

  .why-star {
    background-color: var(--yellow-bg);
    .row {
      padding: 0px 70px;
    }
    .card:hover {
      box-shadow: none !important;
      transform: translateY(-10px) scale(1, 1.03);
      .star-1 {
        img {
          filter: saturate(0.1);
        }
      }
    }
    .card {
      background: transparent;
      border: 0px;
      .card-title {
        font-weight: bold;
        font-size: var(--eighteen);
      }
      .card-text {
        font-size: var(--fourteen);
      }
      .star-1 {
        img {
          filter: contrast(1);
        }
        display: flex;
        align-items: start;
        gap: 10px;
      }
    }
  }

  .events {
    .card {
      .card-title {
        font-size: var(--twenty);
        font-weight: bold;
      }
      .card-text {
        font-size: var(--twelve);
      }
      .duration {
        // padding: 20px 15px;
        font-size: var(--twelve);
      }
      .date {
        font-size: var(--fourteen);
        background: var(--bg-blue);
        padding: 6px 15px;
        color: white;
        position: absolute;
        left: 3%;
        /* top: 100%; */
        bottom: 3%;
      }

      .card-footer {
        background: transparent;
        border: 0px;
        .register-btn {
          font-size: 14px;
          border: 1px solid #515151;
          border-radius: 0px;
          padding: 8px 15px;
          opacity: 0.5;
          transition: all 0.3s;
        }
        i {
          font-size: 25px;
          margin-right: 10px;
          color: var(--bg-blue);
          cursor: pointer;
          transition: transform 0.3s ease;
        }
        i:hover {
          transform: scale(1.2);
        }
      }
    }

    .card:is(:hover) {
      .card-footer {
        .register-btn {
          opacity: 1;
          background-color: #515151;
          color: white;
        }
      }
    }
  }
  .work {
    .card-img {
      width: auto;
      display: flex;
      align-items: center;

      .logos {
        min-width: 100%;
        display: block;
        max-height: 100px;
        object-fit: contain;
        object-fit: scale-down;
      }
    }
    .logos-div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 30px 10px;
      .card-img {
        transition: all 0.5s;
        img {
          filter: contrast(0.2);
          transition: filter 0.5s;
        }
      }
      .card-img:hover {
        img {
          filter: saturate(1) brightness(100%) contrast(1);
        }
      }
    }
  }

  .experience,
  .work,
  .events,
  .organization {
    .content1 {
      h1 {
        font-size: var(--fourtyFive) !important;
      }
      p {
        font-size: var(--twenty) !important;
      }
    }
  }

  .experience {
    .cards {
      display: flex;
      gap: 10px;
      flex-wrap: nowrap;
      overflow: hidden;
      overflow-x: auto;
      .card {
        min-width: 350px;
      }
    }
    .cards > * {
      flex: 1 1;
    }
    .cards::-webkit-scrollbar {
      display: none;
    }

    .card-body {
      padding: 20px 30px;
    }
    .card-text {
      position: relative;
      font-size: var(--siventeen);
    }

    .card-text img {
      position: relative;
      left: -3px;
    }
    .exp-div {
      .img-div {
        // height: 112px;
        width: 112px;
        img {
          max-width: 100%;
          object-position: center;
          max-height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .exp-text {
      text-align: end;
      h4 {
        font-size: var(--eighteen);
        white-space: nowrap;
      }
      p {
        font-size: var(--twelve);
      }
    }
    .arrows {
      i {
        font-size: 24px;
        cursor: pointer;
      }
    }
  }
  .organization {
    .org-logos {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px 40px;
      white-space: nowrap;
    }
    .org-logos > img {
      max-width: 200px;
    }
  }

  .chat {
    width: 45px;
    height: 45px;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 24px;
    position: absolute;
    right: 0.5%;
    bottom: 13%;
    z-index: 999;
    cursor: pointer;
  }
  .footer {
    position: relative;

    padding: 60px 0px 60px 0px;

    background-color: var(--black);
    * {
      color: white;
    }

    .foots {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(194px, 1fr));
      gap: 36px;
      .col:nth-child(2) {
        margin-left: 54px;
      }
    }
    .foot-1 {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: start;
      .top {
        border-bottom: 1px solid #ffffff4d;
        padding-bottom: 10px;
      }
      .bottom {
        ul li:hover {
          cursor: pointer;
          text-shadow: 2px 2px 5px white;
          scale: 1.1;
          font-weight: 500;
          transition: all 0.2s ease-out;
        }
        font-size: var(--twelve);
        .bottom-div {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 10px;
          * {
            flex: 1 1;
          }
          img {
            max-width: 55px;
          }
          h4 {
            font-size: var(--fourteen);
          }
        }
      }
    }
    .foot-1:last-child {
      .top {
        h4 {
          font-size: var(--thirteen);
        }
      }
      .foot-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          border: 2px solid transparent;
          cursor: pointer;
        }
        img:hover {
          transform: scale(1.2);
          // border: 2px solid white;
          // border-radius: 50%;
          transition: all 0.3s ease-in-out;
          filter: drop-shadow(1px 1px 5px white) brightness(150%);
        }
      }
    }
    .foot-title {
      font-size: var(--fifteen);
    }
    .foot-sub-text {
      font-size: var(--ten);
    }

    .last-foot {
      margin: 0px 10px;
      border-top: 1px solid #ffffff4d;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-size: var(--ten);
      padding-top: 12px;
      margin-top: 30px;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
}

@media (max-width: 1024px) {
  .logos-div {
    gap: 10px !important;
    .card-img {
      transition: all 0.5s;
      img {
        filter: none !important;
        transition: filter 0.5s;
      }
    }
    .card-img:hover {
      img {
        filter: none !important;
      }
    }
  }
  .chat {
    bottom: 9% !important;
  }
  .foots {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 36px;
  }
  .img-sec {
    padding-top: 0px !important;
    background-color: transparent !important;

    .row {
      display: flex;
      flex-direction: column-reverse;
      .col-md-12:last-child {
        width: 100%;
        margin-bottom: 30px;
        background-color: var(--bg-blue) !important;
        justify-content: end !important;
      }
      .col-md-12:first-child > * {
        width: 100%;

        color: black;
      }
    }
  }
  .experience {
    .cards > * {
      flex: auto !important;
    }
  }
  .image {
    height: 300px !important;
  }
  h1 {
    font-size: var(--thirty) !important;
  }
}
@media (max-width: 786px) {
  .chat {
    bottom: 5.5% !important;
  }
  .footer {
    .foot-1 {
      .bottom {
        width: auto !important;
      }
      .top {
        width: auto !important;
      }
    }
    .foots {
      display: flex !important;
      flex-direction: column !important;
      align-items: start !important;
      justify-content: center !important;

      .col:nth-child(2) {
        margin-left: 0px !important;
      }
    }
  }
  .courses {
    padding: 0px 50px !important;
  }

  .why-star {
    .row {
      padding: 0px !important;
      .card {
        border: 1px solid #c3ad10bf;
        padding: 5px 10px;
        background: #ffffff5e;
        height: 100%;
        .card-title {
          font-size: var(--fourteen) !important;
        }
        .card-text {
          font-size: var(--twelve) !important;
        }
      }
    }
    .star-1 {
      flex-direction: column;
    }
  }
  .left-col {
    --marginTop: 50px !important;
  }

  h1 {
    font-size: var(--thirty) !important;
  }
}

@media (max-width: 425px) {
  .chat {
    bottom: 8.5% !important;
  }
}
