.container-fluid {
  padding: 0px;
  .img-sec {
    background-color: var(--bg-blue);
    padding-top: 40px;
    overflow: hidden;
    .row {
      .left-col {
        margin-top: var(--marginTop, 0px);
      }
      color: var(--white);
      h1 {
        font-size: var(--sixty);
        font-weight: 800 !important;
        line-height: 75px;
      }
      p {
        font-size: var(--thirtyFive);
      }
    }
    .image {
      max-width: 100%;
      display: block;
      height: 526px;
      position: relative;
      bottom: 0px;
    }
  }

  .card {
    box-shadow: 1px 1px 8px #00000025;
    border-radius: 0px;
    cursor: pointer;
    transition: all 0.4s;
    .card-img-top {
      border-radius: 0px;
      min-height: 300px;
      overflow: hidden;

      img {
        transition: all 0.4s;
        max-width: 100%;
        min-height: 100%;
        display: block;
        object-fit: cover;
      }
    }
  }
  .card:hover {
    box-shadow: 3px 3px 10px #00000031;
    .card-img-top {
      img {
        scale: 1.2;
      }
    }
  }
  .experience {
    .card {
      box-shadow: none !important;
      border: 1px solid rgba(0, 0, 0, 0.183) !important;
    }
    .cards > * {
      flex: auto !important;
    }
  }
  .content1 {
    h1 {
      font-size: var(--fiftyFive) !important;
    }
    p {
      font-size: var(--twentyFive) !important;
    }
  }
  .courses {
    .card {
      .card-title {
        font-size: var(--twentyTwo);
        font-weight: bold;
      }
      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .card-text {
        font-size: var(--fourteen);
      }
      .duration {
        padding: 20px 15px;
        background-color: var(--light);
        font-size: var(--fourteen);
        .pb-2 {
          border-bottom: 1px solid #e2e2e2;
        }
      }
      .course-title {
        padding: 0px 15px;
      }
      .know-btn {
        padding: 8px 15px;
        font-weight: 500;
        transition: all 0.7s ease;
        .black {
          display: block;
        }
        .blue {
          display: none;
        }
      }
      .know-btn:hover {
        scale: 1.2;
        padding: 8px 30px;
        color: var(--bg-blue);
        .black {
          display: none;
        }
        .blue {
          display: block;
        }
      }

      .card-footer {
        display: flex;
        align-items: center;
        padding: 5px 16px 0px 16px;
        border: none;
        background: transparent;
        justify-content: space-between;
        button {
          font-size: var(--twelve);
        }
        .enroll-btn {
          border: none;
          padding: 8px 15px;
          background: var(--bg-blue);
          border-radius: 0px;
          color: white;
          font-weight: 500;
          transition: all 0.3s ease-in;
        }
        .enroll-btn:is(:hover),
        .knowmore-btn:hover {
          background: #2e2e87;
          font-weight: 600;
        }
        .knowmore-btn {
          border: none;

          transition: all 0.7s ease;
          padding: 8px 15px;
          // flex: 1;
          font-weight: 500;
          border-radius: 0px;
          text-align: end;
        }
        .knowmore-btn:is(:hover) {
          font-weight: 600;
          background: yellow;
          color: black;
          // padding-right: 55px;
        }

        button:has(+ button:hover) {
          background-color: white !important;
          color: black;
        }
      }
    }
  }
  .arrows {
    img {
      opacity: 1;
      cursor: pointer !important;
    }
  }
  .img-scroll {
    opacity: 0.5 !important;
    pointer-events: none !important;
  }
  .why-star {
    background-color: var(--yellow-bg);
    .row {
      padding: 0px 70px;
    }
    .card:hover {
      box-shadow: none !important;
      transform: translateY(-10px) scale(1, 1.03);
      .star-1 {
        img {
          filter: saturate(0.1);
        }
      }
    }

    .card {
      background: transparent;
      border: 0px;
      box-shadow: none !important;
      .card-title {
        font-weight: bold;
        font-size: var(--twenty) !important;
      }
      .card-text {
        font-size: var(--sixteen);
      }
      .star-1 {
        img {
          filter: contrast(1);
          min-width: 100px !important;
        }
        display: flex;
        align-items: flex-start;
        gap: 10px;
      }
    }
  }

  .events {
    .card {
      .card-title {
        font-size: var(--twenty);
        font-weight: bold;
      }
      .card-text {
        font-size: var(--twelve);
      }
      .duration {
        font-size: var(--fourteen);
      }
      .date {
        font-size: var(--fourteen);
        background: var(--bg-blue);
        padding: 6px 15px;
        color: white;
        position: absolute;
        left: 3%;
        bottom: 3%;
      }

      .card-footer {
        background: transparent;
        border: 0px;
        .register-btn {
          font-size: 14px;
          border: 1px solid #515151;
          border-radius: 0px;
          padding: 8px 15px;
          opacity: 0.5;
          transition: all 0.3s;
        }
        i {
          font-size: 25px;
          margin-right: 10px;
          color: var(--bg-blue);
          cursor: pointer;
          transition: transform 0.3s ease;
        }
        i:hover {
          transform: scale(1.2);
        }
      }
    }

    .card:is(:hover) {
      .card-footer {
        .register-btn {
          opacity: 1;
          background-color: #515151;
          color: white;
        }
      }
    }
  }
  .work {
    .card-img {
      width: auto;
      display: flex;
      align-items: center;

      .logos {
        min-width: 100%;
        display: block;
        max-height: 100px;
        object-fit: contain;
        object-fit: scale-down;
      }
    }
    .logos-div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 30px 10px;
      .card-img {
        transition: all 0.5s;
        img {
          transition: filter 0.5s;
        }
      }
    }
  }

  .experience,
  .work,
  .events,
  .organization {
    .content1 {
      h1 {
        font-size: var(--fourtyFive) !important;
      }
      p {
        font-size: var(--twenty) !important;
      }
    }
  }

  .organization {
    .org-logos {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px 20px;
      white-space: nowrap;
    }
    .org-logos > img {
      max-width: 200px;
    }
  }
}

@media (max-width: 1024px) {
  .container-fluid {
    position: relative;
    bottom: 1rem;
  }
  .logos-div {
    gap: 10px !important;
    .card-img {
      transition: all 0.5s;
      img {
        filter: none !important;
        transition: filter 0.5s;
      }
    }
    .card-img:hover {
      img {
        filter: none !important;
      }
    }
  }
  .chat {
    bottom: 9% !important;
  }
  .foots {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 36px;
  }
  .img-sec {
    padding-top: 0px !important;
    background-color: transparent !important;

    .row {
      display: flex;
      flex-direction: column-reverse;
      .col-md-12:last-child {
        width: 100%;
        margin-bottom: 30px;
        background-color: var(--bg-blue) !important;
        justify-content: flex-end !important;
      }
      .col-md-12:first-child > * {
        width: 100%;

        color: black;
      }
    }
  }

  .image {
    height: 300px !important;
  }
  h1 {
    font-size: var(--thirty) !important;
  }
}
@media (max-width: 786px) {
  .chat {
    bottom: 5.5% !important;
  }
  .footer {
    .foot-1 {
      .bottom {
        width: auto !important;
      }
      .top {
        width: auto !important;
      }
    }
    .foots {
      display: flex !important;
      flex-direction: column !important;
      align-items: flex-start !important;
      justify-content: center !important;

      .col:nth-child(2) {
        margin-left: 0px !important;
      }
    }
  }
  .courses {
    padding: 0px 50px !important;
  }

  .why-star {
    .row {
      padding: 0px !important;
      .card {
        border: 1px solid #c3ad10bf;
        padding: 20px;
        background: #ffffff5e;
        height: 100%;
        .card-title {
          font-size: var(--fourteen) !important;
        }
        .card-text {
          font-size: var(--twelve) !important;
        }
      }
    }
    .star-1 {
      flex-direction: column;
    }
    padding: 50px 0px !important;
  }
  .left-col {
    --marginTop: 50px !important;
  }

  h1 {
    font-size: var(--thirty) !important;
  }
}

@media (max-width: 425px) {
  .chat {
    bottom: 8.5% !important;
  }
}
