<div *ngIf="loadingService.loading$ | async" class="loader d-flex align-items-center justify-content-center ">
    <div class="content d-flex flex-column  gap-2 align-items-center justify-content-center  ">
        <h5 class="text-white mb-4">EZY | Explorer</h5>
        <!-- <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div> -->
        <div class="middle d-flex align-items-center justify-content-center">
            <div class="bar text-white bar1"><span>L</span></div>
            <div class="bar text-white bar2"><span>o</span></div>
            <div class="bar text-white bar3"><span>a</span></div>
            <div class="bar text-white bar4"><span>d</span></div>
            <div class="bar text-white bar5"><span>i</span></div>
            <div class="bar text-white bar6"><span>n</span></div>
            <div class="bar text-white bar7"><span>g</span></div>
            <div class="bar text-white bar8"><span>..</span></div>
        </div>
    </div>
</div>