<div class="container-fluid">
  <div class="bgimg1">
    <div class="layered-section"></div>

    <div class="container dropping-text mb-5">
      <h1 class="m-0 ">We turn ideas <br> into products</h1>
      <p class=" m-0  fw-medium">We Can Help From Concept to Launch</p>
    </div>
  </div>
  <div class="container-fluid bg-white  pt-5">
    <div class="container mt-4 py-3 mb-4">
      <div class="service ">
        <h2 class="display-5 fw-bold mb-3">UI UX Design Service</h2>
        <p class="m-0 fw-medium">We design products and experiences that accomplish <br> business goals and meet user
          expectations.</p>
      </div>
    </div>

    <div class="container design mt-4 mb-4">
      <div class="row mt-4 mb-4">
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="mt-3">
            <p class="number">1.</p>
          </div>
          <div class="mt-4 number-div">
            <img class="mb-3" src="/assets/Services/UI UX Design Service/Understand Users.star design institute.svg">
            <div>
              <h4>Understand Users</h4>
              <p class="fw-medium">Systematically record the specific needs of your customers</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="mt-3 ">
            <p class="number">2.</p>
          </div>
          <div class="mt-4 number-div">
            <img class="mb-3" src="/assets/Services/UI UX Design Service/Develop Prototypes.star design institute.svg">
            <div>
              <h4>Develop Prototypes</h4>
              <p class="fw-medium">Validate your vision with interactive prototypes</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="mt-3">
            <p class="number">3.</p>
          </div>
          <div class="mt-4 number-div">
            <img class="mb-3" src="/assets/Services/UI UX Design Service/Build A New Product.star design institute.svg">
            <div>
              <h4>Build A New Product</h4>
              <p class="fw-medium">Start in the market with a fresh UX design</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="mt-3">
            <p class="number">4.</p>
          </div>
          <div class="mt-4 number-div">
            <img class="mb-3" src="/assets/Services/UI UX Design Service/Improve A Product.star design institute.svg">
            <div>
              <h4>Improve A Product</h4>
              <p class="fw-medium">Gain market share with strategic UX/UI design</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-white  pt-5">
    <div class="container ">
      <div class="recent">
        <h2 class="display-5 fw-bold">Our Recent Work</h2>
        <p class="fw-medium ">We’re obsessed with designing products users love to tap.</p>
      </div>
      <div class="view-port">
        <p class="m-0 fw-medium d-flex align-items-center gap-2 mb-3">View Portfolio <i class="ri-arrow-right-line"></i>
        </p>
      </div>
      <div class="row ">
        <div class="col-lg-4 col-xxl-4 col-sm-6 col-md-12 mb-4">
          <div class="card h-100">
            <div>
              <img class=" card-img-top" src="/assets/Services/Our Recent Work/Sky trips.png">
            </div>
            <div class="card-body cardtext1">
              <h2 class="text-center display-5 fw-bold m-0">Sky Trips</h2>
              <p class="text-center">Redesign led to a 20% increase in enterprise user adoptionr</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xxl-4 col-sm-6 col-md-12 mb-4">
          <div class="card h-100">
            <div>
              <img class=" card-img-top" src="/assets/Services/Our Recent Work/Bandhu App.png">
            </div>
            <div class="card-body cardtext1">
              <h2 class="text-center display-5 fw-bold m-0">Bandhu App</h2>
              <p class="text-center">World-class experience generated monthly AMC revenue Rs.1 Cr+</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xxl-4 col-sm-6 col-md-12 mb-4">
          <div class="card h-100">
            <div>
              <img class=" card-img-top" src="/assets/Services/Our Recent Work/Honeywell.png">
            </div>
            <div class="card-body cardtext1">
              <h2 class="text-center display-5 fw-bold m-0"> Honeywell</h2>
              <p class="text-center">Facilitating Business Growth for Retailers through UX</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-grey ">
    <div class="container">
      <div class="row burnoncode">
        <div class="col-lg-9 col-xxl-9 col-sm-12 col-md-12 mb-4">
          <h2 class="text-start fw-bold display-5">Don’t burn out on coding.</h2>
          <p class="text-start fw-medium">Coding is time-consuming, expensive and exhausting. With user testing right
            from
            your
            prototype, you get the
            chance to optimize your product early on. So that you don’t waste time, money and sweat on coding the same
            stuff over and over again.</p>
        </div>
        <div class="col-lg-3 col-xxl-3 col-sm-12 col-md-12">
          <div class="mt-3">
            <div>
              <h2 class="display-5 fw-bold designh1"> design</h2>
            </div>
            <div>
              <h2 class="display-5 fw-bold testingh1">testing</h2>
            </div>
            <div>
              <div>
                <h2 class="display-5 fw-bold codeingh1">coding</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5 mb-5">
    <div class="service">
      <h2 class="display-5 fw-bold">Learning. Innovating. Delivering.</h2>
      <p class="fw-medium">User experiences are the literal connection between your brand and your customer.</p>
    </div>
    <div class="mt-4">
      <div class="row h-100" [ngClass]="{'px-3':windowWidth786}">
        <div class="col-lg-4 overflow-hidden col-xxl-4 col-sm-12 col-6 col-md-6  pe-0"
          [ngClass]="{'mb-4':!windowWidth786}">
          <img class="img-fluid first" src="/assets/Services/Learning. Innovating. Delivering/temp4.png">
        </div>
        <div
          class="col-lg-4 overflow-hidden d-flex flex-column justify-content-between  col-xxl-4 col-sm-12 col-6 col-md-6 pe-0"
          [ngClass]="{'mb-4':!windowWidth786}">
          <div class="flex">
            <img class="img-fluid" src="/assets/Services/Learning. Innovating. Delivering/temp1.png">
          </div>
          <div class="flex">
            <img class='img-fluid' src="/assets//Services/Learning. Innovating. Delivering/temp2.png">
          </div>
        </div>
        <div class="col-lg-4 overflow-hidden d-flex flex-xl-column
           justify-content-between  col-xxl-4 col-sm-12 col-md-6 mb-4 "
          [ngClass]="{'p-0':windowWidth786,'col-12':windowWidth786}">
          <div class="flex">
            <img class="img-fluid" src="/assets/Services/Learning. Innovating. Delivering/temp.png">
          </div>
          <div class="flex ps-2">
            <img class='img-fluid' src="/assets//Services/Learning. Innovating. Delivering/temp3.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid img-sec">
    <div class="container mt-0">
      <div class="row h-100">
        <div class="col-lg-8 col-xl-9 col-xxl-9 col-md-8 col-sm-12 ">
          <div class="h-100 left-col d-flex flex-column gap-2 align-items-start justify-content-center">
            <h2 class="m-0 display-5 fw-bold text-start mb-5">Have a project in your mind ? <br> let's talk <img
                src="/assets/Services/noun-arrow-1217521.svg" alt=""></h2>
            <p class="fw-medium mb-5">Our services are tailored to your specific needs & budget </p>

            <div class="row" style="width: -webkit-fill-available;">
              <div class="col-sm-6 col-6 col-lg-4 col-md-6 col-xl-3 col-xxl-3">
                <img src="../../../assets/Services New icon/We Guarantee.svg">
                <p class="fs-6 mt-3">We Guarantee <br><b class="fw-bold">High Quality</b> <br> On all jobs</p>
              </div>
              <div class="col-sm-6 col-6 col-lg-4 col-md-6 col-xl-3 col-xxl-3">
                <img src="../../../assets/Services New icon/Instant_Quoting.svg">
                <p class="fs-6 mt-3">Instant Quoting <br><b class="fw-bold">Competitive Prices</b><br> Every Time</p>
              </div>
              <div class="col-sm-6 col-6 col-lg-4 col-md-6 col-xl-3 col-xxl-3">
                <img src="../../../assets/Services New icon/Always on time.svg">
                <p class="fs-6 mt-3">Always on time <br><b class="fw-bold">Fast Turnaround</b><br> On all jobs</p>
              </div>
              <div class="col-sm-6 col-6 col-lg-4 col-md-6 col-xl-3 col-xxl-3">
                <img src="../../../assets/Services New icon/_20_Year_of.svg">
                <p class="fs-6 mt-3">12+Year of <br><b class="fw-bold">Experience</b><br> in product design</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-xxl-3 col-md-4 col-sm-12 d-flex align-items-center justify-content-center ">
          <img class="image object-fit-contain "
            src="/assets/Services/Have a project in your mind/idea.star design institute.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>