.bgimg1{
  background-image: url('../../../assets/Services/services.star\ design\ institute.png') !important;
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;

  color: white;
  display: flex;

  align-items: end;
  h1 {

    font: normal normal bold 75px/92px Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
  }
  p{
    font: normal normal normal 42px/52px Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: capitalize;
opacity: 1;

  }
}
.service{
  h1{
    font: normal normal bold 55px/68px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
  }
  p{
    font: normal normal 600 25px/50px Nunito;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
}
.design{
  h4{
    font: normal normal bold 20px/21px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
  }
  p{
    font: normal normal 600 15px/25px Nunito;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
}
.recent{
  h1{
    font: normal normal bold 55px/53px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  p{
    font: normal normal 600 20px/20px Nunito;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    line-height:28px;
  }
}
.cardtext1{
  h1{
    text-align: left;
    font: normal normal bold 23px/35px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  p{
    font: normal normal normal 14px/18px Messina Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
  }

}
.img{
  border-radius: 10px;
}
.burnoncode{
  h1{
    font: normal normal bold 55px/53px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  p{
    font: normal normal 600 20px/20px Nunito;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    line-height:28px;
  }
  .designh1{
    font: normal normal bold 49px/81px Montserrat;
    letter-spacing: 0px;
    color: #FFCB05;
    opacity: 1;
  }
  .codeingh1{
    font: normal normal bold 49px/81px Montserrat;
    letter-spacing: 0px;
    color: #FFCB05;
    opacity: 1;
  }
  .testingh1{
    font: normal normal bold 49px/81px Montserrat;
    letter-spacing: 0px;
    color: #0247FE !important;
    opacity: 1;
  }
}
.container-fluid {
  padding: 0px;
  .img-sec {
    background-color: var(--bg-blue);
    padding-top: 40px;

    .row {
      .left-col {
        margin-top: var(--marginTop, 0px);
      }
      color: var(--white);
      h1 {
        font-size: var(--sixty);
      }
      p {
        font-size: var(--thirtyFive);
      }
    }
    .image {
      max-width: 100%;
      display: block;
      // border-radius: 85% 1% 15% 3%;
      height: 526px;
      position: relative;
      bottom: 0px;
    }
  }}

@media (max-width:654px) {
  .bgimg1{
    h1{
      font-size: 33px;
    }
    p{
      font-size: 20px;

    }
  }

}
