.container-fluid {
  background-color: var(--white);
}
.dropping-text {
  margin-bottom: 100px !important;
}

.bgimg1 {
  background: url("/assets/Hero images/services. star design instutute.png.jpg");

  min-height: 78vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  color: white;
  display: flex;
  align-items: flex-end;
  * {
    color: var(--white);
  }
  h1 {
    font: normal normal bold 75px / 92px Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  p {
    font: normal normal normal var(--thirtyFive) / 52px Montserrat;
    letter-spacing: 0px;
    opacity: 1;
  }
}

.flex {
  flex: 1;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 12px;
  img {
    object-fit: cover;
    height: 100%;
  }
}

.first {
  max-height: 555px !important;
  min-width: 100% !important;
}
.service {
  h1 {
    font: normal normal bold var(--fiftyFive) / 68px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  p {
    font: normal normal 600 var(--twentyFive) / 50px Nunito;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
}
.design {
  h4 {
    font: normal normal bold var(--twenty) / 21px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  p {
    font: normal normal 600 var(--fifteen) / 25px Nunito;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
}
.recent {
  h1 {
    font: normal normal bold var(--fiftyFive) / 53px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  p {
    font: normal normal 600 var(--twenty) / 20px Nunito;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    line-height: 28px;
  }
}
.cardtext1 {
  h1 {
    text-align: left;
    font: normal normal bold var(--twentyTwo) / 35px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  p {
    font: normal normal normal var(--fourteen) / 18px Messina Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
}
.img {
  border-radius: 10px;
}

.burnoncode {
  text-align: center;
  h1 {
    font: normal normal bold var(--fiftyFive) / 53px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  p {
    font: normal normal 600 var(--twenty) / 20px Nunito;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    line-height: 28px;
  }
  .designh1 {
    font: normal normal bold var(--fourtyFive) / 81px Montserrat;

    letter-spacing: 0px;
    color: #ffcb05;
    opacity: 1;
  }
  .codeingh1 {
    font: normal normal bold var(--fourtyFive) / 81px Montserrat;

    letter-spacing: 0px;
    color: #ffcb05;
    opacity: 1;
  }
  .testingh1 {
    font: normal normal bold var(--fourtyFive) / 81px Montserrat;

    letter-spacing: 0px;
    color: #0247fe !important;
    opacity: 1;
  }
}
.container-fluid {
  padding: 0px;
  .img-sec {
    background-color: var(--bg-blue);
    padding: 50px 0px;

    .row {
      .left-col {
        margin-top: var(--marginTop, 0px);
        text-align: center;
      }
      color: var(--white);
      h1 {
        font-size: var(--sixty);
      }
      p {
        font-size: var(--twenty);
      }
    }
    .image {
      max-width: 100%;
      display: block;
      // border-radius: 85% 1% 15% 3%;
      height: 526px;
      position: relative;
      bottom: 0px;
    }
  }
}
.card img {
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1); /* Increase image size on hover */
}

/* Card hover effect */
.card {
  transition: transform 0.3s ease;
  overflow: hidden !important;
}

.card:hover {
  transform: translateY(-10px); /* Move card up slightly on hover */
}
h1,
h4 {
  transition: color 0.3s ease;
}

p {
  transition: opacity 0.3s ease;
}

.recent.in-view {
  animation: fadeIn 0.5s ease forwards;
}
.view-port {
  display: flex;
  justify-content: flex-end;
  margin-top: 48px;
  p {
    cursor: pointer;
  }
  p:hover {
    font-weight: 600 !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 654px) {
  .bgimg1 {
    h1 {
      font-size: 40px;
      line-height: 50px;
    }
    p {
      font-size: 20px;
    }
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 28px;
    line-height: 50px;
  }

  p {
    font-size: 13px;
  }

  .card {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
    line-height: 50px;
  }

  p {
    font-size: 14px;
  }

  .card {
    margin-bottom: 15px;
  }
  .burnoncode {
    text-align: center; /* Center align text in small screens */
  }

  .designh1,
  .testingh1,
  .codeingh1 {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }
  .image {
    height: 326px !important;
  }

  .card {
    margin-bottom: 10px;
  }
}
