<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="bgimg1">
<div class=" container mb-5">
  <h1 class="m-0 ">We turn ideas into products</h1>
  <p class=" m-0  ">We Can Help From Concept To Launch</p>
</div>
      </div>
    </div>
  </div>
  <div class="container">
<div class="service mt-4 mb-4">
  <h1 class="m-0">UI UX Design Service</h1>
  <p class="m-0">We design products and experiences that accomplish<br> business goals and meet user expectations.</p>
</div>
  </div>
  <div class="container design">
    <div class="row mt-4 mb-4">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div>

        </div>
        <div>
          <p>1.</p>
          <h4><strong>Understand Users</strong></h4>
          <p>Systematically record the specific needs of your customers</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div>

        </div>
        <div>
          <p>2.</p>
          <h4><strong>Develop Prototypes</strong></h4>
          <p>Validate your vision with interactive prototypes</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div>

        </div>
        <div>
          <p>3.</p>
          <h4><strong>Build A New Product</strong></h4>
          <p>Start in the market with a fresh UX design</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div>

        </div>
        <div>
          <p>4.</p>
          <h4><strong>Improve A Product</strong></h4>
          <p>Gain market share with strategic UX/UI design</p>
        </div>
      </div>
    </div>
  </div>
<div class="container mt-4 mb-4">
<div class="recent">
  <h1>Our Recent Work</h1>
  <p>We’re obsessed with designing products users love to tap.</p>
</div>
<div class="row">
  <div class="col-lg-4 col-sm-6 col-md-12 ">

  </div>
</div>
</div>
</div>
