@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-blue: #0866ff;
  --black: #000000;
  --white: white;
  --link: #0247fe;
  --li: #000000fc;
  --grey: #9b9b9b;
  --yellow: #ffcc09;
  --twentyTwo: 22px;
  --twenty: 20px;
  --eieghteen: 18px;
  --sixteen: 16px;
  --sixty: 60px;
  --fiftyFive: 55px;
  --thirtyFive: 35px;
  --thirty: 30px;
  --twentyFive: 25px;
  --eleven: 11px;
  --twelve: 12px;
  --fourteen: 14px;
  --fifteen: 15px;
  --seventeen: 17px;
  --yellow-bg: #ffcc09;
  --light: #f9f9f9;
  --fourtyFive: 45px;
  --siventeen: 17px;
  --ten: 10px;
  --thirteen: 13px;
  --seventyFive: 75px;
  --fifty: 50px;
  --nine: 9px;
  --seven: 7px;
  --eight: 8px;
}

::selection {
  background-color: var(--bg-blue);
  color: var(--white);
}
::placeholder {
  font-size: var(--twelve);
  opacity: 0.65;
}
.form-control {
  font-size: 14px !important;
  font-weight: 500;
}

.form-select {
  font-size: 14px !important;
}
*,
body {
  font-family: "Montserrat" !important;
  scroll-behavior: smooth;
  scroll-snap-align: center;
  transition: all 0.3s ease-in-out !important;
}

body {
  background: #00000005 !important;
  min-width: 408px;
}

.table-responsive {
  overflow-y: auto;
}
.table {
  white-space: nowrap;
  border: 1px solid #e2e2e2;

  tr td:first-child,
  tr th:first-child {
    border-left: 1px solid black !important;
  }

  tr td:last-child,
  tr th:last-child {
    border: 0px !important;
    border-right: 1px solid black !important;
  }

  tr :not(:last-child) {
    text-align: center !important;
  }

  tr :not(td:last-child),
  tr :not(td:first-child) {
    border-left: 0px !important;
    border-right: 0px !important;
  }

  thead {
    tr {
      th {
        span {
          font-size: var(--fourteen);
        }
      }
    }
  }
  tbody {
    tr {
      td {
        span {
          font-size: var(--twelve);
        }
      }
    }
  }
}
.container-fluid {
  *.container {
    margin-top: 100px;
  }
}
.card {
  border: none !important;
}

.experience {
  .cards {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    .card {
      min-width: 350px;
    }
  }
  .cards > * {
    flex: 1 1;
  }
  .cards::-webkit-scrollbar {
    display: none;
  }

  .card-body {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-text {
    position: relative;
    font-size: var(--siventeen);
  }

  .card-text img {
    position: relative;
    left: -3px;
  }
  .exp-div {
    .img-div {
      // height: 112px;
      width: 112px;
      img {
        max-width: 100%;
        object-position: center;
        max-height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .exp-text {
    text-align: end;
    h4 {
      font-size: var(--eighteen);
      white-space: nowrap;
    }
    p {
      font-size: var(--twelve);
    }
  }
  .arrows {
    i {
      font-size: 24px;
      cursor: pointer;
    }
  }
}

.upcoming {
  h1 {
    font-size: var(--sixty);
  }
  p {
    font-size: var(--twenty);
  }
  .finish-btn,
  .enroll-btn {
    font-size: var(--twelve);
    color: white;
    background-color: var(--grey) !important;
    border-radius: 0px;
    padding: 8px 20px;
    font-weight: 500;
  }
  .enroll-btn {
    background-color: var(--bg-blue) !important;
  }
  .low-price {
    font-size: var(--nine);
    color: var(--bg-blue);
    font-weight: 500;
  }
}

@media (max-width: 1024px) {
  :root {
    ----seventyFive: 50px !important;
  }
}
